@font-face {
  font-family: "Geomanist Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Geomanist Bold"),
    url("/fonts/Geomanist-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Geomanist Book";
  src: url("/fonts/Geomanist-Book.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bariol Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Regular"),
    url("/fonts/bariol_regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Regular Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Regular Italic"),
    url("/fonts/bariol_regular_italic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Thin Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Thin Italic"),
    url("/fonts/bariol_thin_italic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Thin";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Thin"),
    url("/font/bariol_thin-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Light";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Light"),
    url("/fonts/bariol_light-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Light Italic"),
    url("/fonts/bariol_light_italic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Bold"),
    url("/fonts/bariol_bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Bold Italic"),
    url("/fonts/bariol_bold_italic-webfont.woff") format("woff");
}

/* Estilos generales para la página */
body {
  margin: 0;
  width: auto;
  font-family: "Bariol Regular", sans-serif;
}

/* Estilos para el navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 177, 187, 0.1);
  padding: 10px;
  position: relative;
  z-index: 5;
}

.navbar img {
  padding: 2%;
}

/* Estilos para el menú hamburguesa */

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.material-icons {
  color: #00a2af;
}

/* Estilos para el ícono del menú hamburguesa */
.hamburger-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.submenu {
  display: none;
}

.show {
  display: block;
}

/* Estilos para el menú hamburguesa desplegado */
.hamburger-menu-container {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  z-index: 10;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0px 10px 10px rgba(0, 177, 187, 0.1);
}

/* Estilos para botones naranjas del menú hamburguesa */
.menu-button {
  background-color: #ff8833;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px 20px;
  border-radius: 5px;
  margin: 5px 0;
}

.menu-button img {
  margin-right: 5px;
  vertical-align: middle;
  width: 24px;
  height: 24px;
}

.li-menu-button {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

/* Estilos para titulos naranjas menú hamburguesa */
.dropdown-title {
  position: relative;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-left: 10px;
}

.dropdown-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 10px;
  border-bottom: 1px solid #ffe1cc;
}

.arrow-down {
  font-size: 0.8em;
  margin-right: 10px;
}

.dropdown-title:hover {
  cursor: pointer;
}

.hamburger-menu-container ul li .dropdown-title {
  color: #ff8833;
}

.hamburger-menu-container ul {
  list-style-type: none;
  padding: 0;
}

.hamburger-menu-container ul li a {
  display: block;
  color: #676767;
  padding: 8px 16px;
  text-decoration: none;
}

.hamburger-menu-container a.menu-button {
  color: white;
}

.hamburger-menu-container ul li .dropdown {
  display: none;
  position: relative;
}

.hamburger-menu-container ul li .dropdown ul {
  position: absolute;
  top: 0;
  left: 100%;
  width: 250px;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
}

.hamburger-menu-container ul li .dropdown ul li a {
  padding: 5px 16px;
}

.hamburger-menu-container ul li .dropdown ul li a:hover {
  background-color: #666;
}

.hamburger-menu-container ul li a:hover,
.hamburger-menu-container ul li:hover>.dropdown {
  cursor: pointer;
}

/*/ //////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Estilos para el botón "Atrás" */
.back-button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  color: #676767;
  font-family: "Bariol Regular", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#ingresar-datos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

#simulador-cdt {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 10px;
}

.images {
  width: 100%;
}

h2 {
  font-family: "Bariol";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: "Bariol Regular", sans-serif;

  /* identical to box height */

  /* Naranja/400 */

  color: #ff8833;
}

@media (max-width: 700px) {
  #cdt-type {
    width: 100%;
  }

  input {
    width: 100%;
  }

  #inputs-cdt {
    width: 100%;
  }
}

@media (min-width: 701px) {
  #cdt-type {
    width: 50%;
  }

  input {
    width: 100%;
  }

  #inputs-cdt {
    width: 50%;
  }
}

input {
  background: #ffffff;
  border: 1.9316px solid #cdcdcd;
  border-radius: 4.50708px;
  height: 25px;
  font-family: "Bariol Regular", sans-serif;
}

select {
  background: #ffffff;
  border: 1.9316px solid #cdcdcd;
  border-radius: 4.50708px;
  height: 25px;
  width: 100%;
  font-family: "Bariol Regular", sans-serif;
}

option {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #acacac;
  font-family: "Bariol Regular", sans-serif;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 16px 48px;
  margin-top: 25px;

  width: 100%;
  height: 50px;
  border: 0px;

  /* Naranja/400 */

  background: #ff8833;
  border-radius: 7px;

  font-family: "Bariol";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
  font-family: "Bariol Regular", sans-serif;
}

button:hover {
  background: #FFE1CC;
  color: #FFA666;
}

#inputs-cdt {
  display: flex;
  flex-direction: column;
}

div:not(#simulador-cdt) {
  /*display: flex;
    flex-direction: column;*/
  gap: 10px;
  padding-top: 20px;
}

p {
  font-family: "Bariol";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  text-align: right;

  /* gris/2 */

  color: #676767;
  font-family: "Bariol Regular", sans-serif;
}

h4 {
  font-family: "Bariol";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 134%;
  /* or 19px */

  /* gris/3 */

  color: #acacac;
  font-family: "Bariol Regular", sans-serif;
}

.tabla {
  background-color: #f3f4f5;
}

#resultados-tabla {
  border: 1px solid #acacac;
  border-radius: 7px;
}

#mostrar-datos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  gap: 20px;
  font-family: "Bariol Regular", sans-serif;
}

.datos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 20px;
  font-family: "Bariol Regular", sans-serif;
}

h3 {
  font-family: "Geomanist", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;

  color: #ff8833;
}

h5 {
  font-family: "Geomanist";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  font-family: "Geomanist", sans-serif;

  /* gris */

  color: #efefef;
}

h6 {
  font-family: "Geomanist", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 134%;
  /* or 16px */

  text-align: center;

  /* gris */

  color: #efefef;
}

#monto-cdt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 700px) {
  #solicitar-cdt {
    width: 100%;
  }
}

@media (min-width: 701px) {
  #valor-monto {
    width: 300px;
    height: 150px;
  }

  h5 {
    font-size: 30px;
  }

  #monto-cdt {
    width: 50%;
  }

  #resultados-tabla {
    width: 50%;
  }

  #solicitar-cdt {
    width: 50%;
  }
}


#valor-monto {
  background: #9f66db;
  border-radius: 7px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#regresar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 16px 48px;
  border-radius: 7px;

  background: white;
  box-shadow: 5px 7px 30px rgba(255, 105, 0, 0.15);
  border-radius: 7px;

  border: 4px;
  border-color: #676767;
  color: #676767;
  margin-bottom: 40px;
}

#regresar:hover {
  border: 2px solid #FFA666;
  color: #FFA666;
}

a {
  text-decoration: none;
  color: #9F66DB;
}

a:visited {
  color: #9F66DB;
}

a:hover {
  color: #9F66DB;
}

a:active {
  color: #9F66DB;
}