@font-face {
    font-family: "Geomanist";
    src: url("../font/Geomanist-Bold.ttf");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Geomanist Book";
    src: url("../font/Geomanist-Book.ttf");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Bariol Regular";
    font-style: normal;
    font-weight: normal;
    src: url("../font/bariol_regular-webfont.ttf") format("woff");
  }
  
  :root {
    --white: white;
    --lila-lyrics: #9f66db;
    --lila-line: #dfccf3;
    --gray-lyric: #676767;
    --Acuamarina : #00B1BB;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bariol Regular", sans-serif;
  }
  a {
    text-decoration: none;
  }
  
  /* Estilos de la portada de la página */
  
  .cover-page {
    position: relative;
    background: url(../img/portada-blog.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 535px;
    ;
  }
  
  .information {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
  }
  
  .information h1 {
    font-size: 32px;
    font-family: "Geomanist";
    line-height: 34px;
    text-align: center;
    margin-bottom: 6px;
    padding: 62px 60px 0px 60px;
    color: var(--gray-lyric);
  }
  
  .information p {
    font-family: "Bariol Regular";
    font-size: 13px;
    text-align: center;
    padding: 0px 65px 0px 65px;
    line-height: 16.72px;
    color: var(--gray-lyric);
  }
  
  /* Estilos de la navegación secundaria */
  
.nav-cover {
    position: relative;
    top: 53.5%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: var(--white);
    width: 366px;
    height: 37px; 
    box-shadow: 5px 7px 30px rgba(159, 102, 219, 0.18);
    border-radius: 7px
}

.cover-buttons {
    transform: translate(0%, 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#marker {
    position: absolute;
    left: 0;
    height: 4px;
    width: 91.5px;
    background: var(--lila-lyrics);
    bottom: -2px;
    transition: 0.5s;
    border-radius: 4px;
    z-index: 1;
  }
  
  .nav-cover ul {
    position: relative;
      list-style: none;
      display: flex;
      transform: translate(0%, -100%);
      flex-direction: row;
      align-items: center;
      justify-content: center;
      z-index: 2;
  }
  
  .nav-cover li {
    position: relative;
  }


#lyric {
    width: 140px;
}

.nav-cover a {
    text-decoration: none;
    font-size: 13px;
    color: var(--lila-lyrics);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Bariol Regular';
    pointer-events: none;
}

.nav-cover p {
    text-align: center;
}
  
  /* Estilo de las cards */
  
  .cards-container {
    margin-top: -85px;
    display: grid;
    place-items: center;
    gap: 2rem;
    padding: 1rem;
    grid-auto-rows: 23rem;
    margin-bottom: 25px;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
    position: relative;
    z-index: 1;
  }
  
  .card-template {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 17px 14px;
    width: 100%;
    height: 100%;
    background: #ffffff;
    box-shadow: 5px 7px 30px rgba(159, 102, 219, 0.18);
    border-radius: 7px;
  }
  
  .card-template.card-saving2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 17px 14px;
    width: 100%;
    height: 100%;
    background: #ffffff;
    box-shadow: 5px 7px 30px rgba(159, 102, 219, 0.18);
    border-radius: 7px;
  }
  
  .card-template img {
    margin-bottom: 12px;
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .card-template h5 {
    font-family: "Geomanist";
    color: var(--gray-lyric);
    font-size: 16px;
    margin-bottom: 12px;
  }
  
  .card-template p {
    font-family: "Geomanist Book";
    color: var(--gray-lyric);
    font-size: 13px;
    margin-bottom: 12px;
    line-height: 19.5px;
  }
  
  .button-primary {
    font-family: "Bariol Regular";
    padding: 0px;
    width: 102.66px;
    height: 29px;
    color: var(--white);
    border: none;
    background-color: var(--Acuamarina);
    border-radius: 4.06px;
    cursor: pointer;
  }

  .button-primary:hover {
    color: var(--Acuamarina);
    border: 2px solid var(--Acuamarina);
    background-color:var(--white);
    border-radius: 4.06px;
    cursor: pointer;
  }
  
  .simulation-button {
    font-family: "Bariol Regular";
    width: 102.66px;
    height: 29px;
    border: 1.16px solid #9f66db;
    border-radius: 4.06px;
    background: #ffffff;
    color: var(--lila-lyrics);
    margin-left: 14.34px;
  }
  
  .card-saving2 button {
    font-family: "Bariol Regular";
    padding: 0px;
    width: 102.66px;
    height: 29px;
    color: var(--white);
    border: none;
    background-color: var(--Acuamarina);
    border-radius: 4.06px;
    cursor: pointer;
  }
  
  .show {
    display: block;
  }

   /* ///////////////////////////////// 📱 TABLET //////////////////////// */

@media (min-width: 600px) {  

  .cover-page {
    background: url(../img/portada-blog-tablet.jpg);
    background-repeat: no-repeat;
  }

  .nav-cover {
    top: max(63.5%);
  }

  .nav-cover {
    width: 558px;
  }

  #desktop {
    display: none;
  }

  .nav-cover a {
    font-size: 18px;
  }

  .information h1 {
    font-size: 38px;

  }
  
  .information p {
    font-size: 16px;
}

}

@media (min-width: 727px) {  

  .nav-cover {
    top: max(62%);
  }
  
}
@media (min-width: 850px) { 
  .nav-cover {
    top: 32%;
  }

  .information-container {
    max-width: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .information {
    width: 39%;
    margin-left: 62%;
    padding-top: 18%;
  }

  .information > div{
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  
  .information h1 {
    font-size: 40px;
    font-family: "Geomanist";
    line-height: 40.54px;
    text-align: left;
    width: 100%;
    margin-bottom: 6px;
    padding: 0;
  }
  
  .information p {
    font-family: "Bariol Regular";
    font-size: 20px;
    text-align: start;
    /* padding: 0px 0px 0px 530px; */
    line-height: 25px;
    width: 100%;
    padding: 0;
  }

  #desktop {
    display: none;
  }
}

  
  /* ///////////////////////////////// 🖥️ Desktop //////////////////////// */
  
  @media (min-width: 1024px) {

    /* Estilos del responsive */
  
    .nav-cover {
      position: absolute;
      top: 76%;
      left: 50%;
      transform: translate(-50%, 50%);
      background-color: var(--white);
      box-shadow: 5px 7px 30px rgba(159, 102, 219, 0.18);
      border-radius: 7px;
      width: 851px;
      height: 114px;
    }
  
    .nav-cover a {
      font-size: 17px;   
    }
  
    .nav-cover svg {
      width: 100%;
    }
  
    .all-menu {
      width: 212.75px;
      height: 114px;
    }
    
    .spins-menu {
      width: 212.75px;
      height: 114px;
    }
  
    .spins-menu svg {
      margin-bottom: 10px;
    }
  
    .spins-menu p {
      padding: 0 50px;
    }
    
    .saving-menu {
      width: 212.75px; 
      height: 114px;
    }
    
    .invert-menu {
      width: 212.75px;
      height: 114px;
    }
  
    #marker {
      height: 114px;
    }
  
    .cover-page {
      position: relative;
      background: url(../img/portada-blog-desktop.jpg);
      background-repeat: no-repeat;
      width: 100%;
      height: 479px;
    }
    
    .information {
      display: flex;
      /* align-items: flex-end; */
      flex-direction: column;
      color: white;
      width: 30%;
      /* position: relative; */
      /* left: 315px; */
      margin-left: 109%;
      padding-top: 17%;
    }
  
    .information > div{
      display: flex;
      flex-direction: column;
      justify-content: start;
    }
    
    .information h1 {
      font-size: 32px;
      font-family: "Geomanist";
      line-height: 40.54px;
      text-align: left;
      width: 100%;
      margin-bottom: 6px;
      /* margin-left: -149px; */
      /* padding: 115px 0px 0px 500px; */
      padding: 0;
    }
    
    .information p {
      font-family: "Bariol Regular";
      font-size: 20px;
      text-align: start;
      /* padding: 0px 0px 0px 530px; */
      line-height: 20.72px;
      width: 100%;
      padding: 0;
    }

    .cards-container {
      max-width: 1280px;
      margin: 0 auto;
      margin-bottom: 25px;
      padding: 2rem;
      margin-top: -85px;
  }
}
  

  /* ///////////////////////////////// 🖥️ Desktop Large //////////////////////// */

@media (min-width: 1440px) {
  .information-container {
    max-width: 1440px;
  }

  .nav-cover {
    width: 1262px;
    height: 43px;
  }

  #marker {
    bottom: 0px;
    width: 420px;
  }

  .characters {
    width: 420px;
    height: 43px;
  }
  
  .requirements {
    width: 420px;
    height: 43px;
    border-left: 1px solid var(--lila-line);
  }

  .benefits {
    width: 420px;
    height: 43px; 
    border-right: 1px solid var(--lila-line);
}

  .nav-cover a {
    text-decoration: none;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Bariol Regular";
    pointer-events: none;
  }

  .cover-page {
    background: url(../img/portada-blog-desktop.jpg);
  }
  
  .information {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 50%;
    padding-top: 11%;
  }

  .information > div{
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  
  .information h1 {
    font-size: 32px;
    font-family: "Geomanist";
    line-height: 40.54px;
    text-align: left;
    width: 100%;
    margin-bottom: 6px;
    padding: 0;
  }
  
  .information p {
    font-family: "Bariol Regular";
    font-size: 20px;
    text-align: start;
    line-height: 23.72px;
    width: 100%;
    padding: 0;
  }

  #desktop {
    display: block;
  }

  #mobile {
    display: none;
  }


} 
