@font-face {
  font-family: 'Geomanist Medium';
  src: url('../font/Geomanist-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
    font-family: 'Geomanist Bold';
    src: url('../font/Geomanist-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist Book';
    src: url('../font/Geomanist-Book.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist Regular';
    src: url('../font/Geomanist-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Bariol Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Bariol Bold'), url('../font/bariol_bold-webfont.ttf') format('woff');
  }

@font-face {
    font-family: 'Bariol Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../font/bariol_regular-webfont.ttf') format('woff');
    }

    

:root {
    --white: white;
    --lila-lyrics: #9F66DB;
    --lila-line: #DFCCF3;
    --gray-lyric: #676767;
    --lila-dark: #4D1E7F;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Bariol Regular", sans-serif;  
}

/* Estilos del menú de navegación */

/* Estilos para el navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 10px 10px rgba(0, 177, 187, 0.1);
    padding: 10px;
    position: relative;
    z-index: 5;
  }
  .navbar img {
    padding: 2%;
  }
  
  /* Estilos para el menú hamburguesa */
  
  /*///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
  .material-icons {
    color: #00a2af;
  }
  /* Estilos para el ícono del menú hamburguesa */
  .hamburger-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
  }
  .submenu {
    display: none;
  }
  .watch {
    display: block;
  }
  /* Estilos para el menú hamburguesa desplegado */
  .hamburger-menu-container {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #ffffff;
    z-index: 10;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0px 10px 10px rgba(0, 177, 187, 0.1);
  }
  /* Estilos para botones naranjas del menú hamburguesa */
  .menu-button {
    background-color: #ff8833;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8px 20px;
    border-radius: 5px;
    margin: 5px 0;
  }
  
  .menu-button img {
    margin-right: 5px;
    vertical-align: middle;
    width: 24px;
    height: 24px;
  }
  .li-menu-button {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  /* Estilos para titulos naranjas menú hamburguesa */
  .dropdown-title {
    position: relative;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-left: 10px;
  }
  .dropdown-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 10px;
    border-bottom: 1px solid #ffe1cc;
  }
  .arrow-down {
    font-size: 0.8em;
    margin-right: 10px;
  }
  
  .dropdown-title:hover {
    cursor: pointer;
  }
  
  .hamburger-menu-container ul li .dropdown-title {
    color: #ff8833;
  }
  .hamburger-menu-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .hamburger-menu-container ul li a {
    display: block;
    color: #676767;
    padding: 8px 16px;
    text-decoration: none;
  }
  .hamburger-menu-container a.menu-button {
    color: white;
  }
  .hamburger-menu-container ul li .dropdown {
    display: none;
    position: relative;
  }
  
  .hamburger-menu-container ul li .dropdown ul {
    position: absolute;
    top: 0;
    left: 100%;
    width: 250px;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
  }
  
  .hamburger-menu-container ul li .dropdown ul li a {
    padding: 5px 16px;
  }
  
  .hamburger-menu-container ul li .dropdown ul li a:hover {
    background-color: #666;
  }
  
  .hamburger-menu-container ul li a:hover,
  .hamburger-menu-container ul li:hover > .dropdown {
    cursor: pointer;
  }

/* Estilo de miga de pan */

.nav-crumbs { 
  position: relative;
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 100%;
    height: 36px;
    background-color: var(--lila-lyrics);
    z-index: 2;
}

.nav-crumbs p {
    font-family: 'Bariol Regular';
    font-size: 10px;
    color: var(--white);
    
}

/* Estilos de la info de arriba */

.info-top {
  bottom: 25px;
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 380px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  z-index: 1;
}

.info-top div {
  padding: 38px 20px 0px 20px; 
  line-height: 19.5px;
}

.info-top div h1 {
  font-family: 'Geomanist';
  color: var(--lila-lyrics);
  font-size: 25px;
}

.info-top div p {
  margin-top: 14px;
  font-family: 'Bariol Regular';
  color: var(--gray-lyric);
  font-size: 13px;
}



/* Estilos de la info de abajo*/
.autor{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Bariol Regular';
  color: var(--white);
  font-size: 13px;
  line-height: 19.5px;
  margin-top: 76px;
}

.autor span {
  font-family: 'Bariol Bold';
}

.p-style {
  font-family: 'Bariol Regular';
  color: var(--white);
  font-size: 13px;
  line-height: 19.5px;
}

.info-down {
  width: 100%;
  height: 1306px;
  background-color: var(--lila-lyrics);
  border-radius: 13px;
  padding: 37px 24px 0px 19px;
}

.info-down h6{
  color: var(--white);
  font-family: 'Geomanist Regular';
  font-size: 16px;
  line-height: 16px;
}

.info-down img {
  display: flex;
  align-items: center;
  justify-items: center;
}

figure {
  margin-top: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.list-container {
  margin-top: 20px;
  gap: 13px;
  display: flex;
  padding-left: 13px;
  margin-bottom: 12px;
}

.list-info p{
  font-family: 'Geomanist Regular';
  color: var(--white);
  font-size: 13px;
  line-height: 19.5px;
  padding-right: 20px;
}

/* Estilos de la portada de la página */

.cover-page {
    position: relative;
    background: url(../img/portada-negocio.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 353px;
    background-color: var(--lila-line);
    z-index: 1;
}


/* Estilo del carrusel */

/*Card slider*/

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

h3 {
  font-family: "Geomanist Bold";
  font-size: 20px;
  color: #ff6900;
  padding-left: 5%;
  padding-top: 25px;
  padding-bottom: 25px;
  
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.slider {
  width: 100%;
  overflow: hidden;
  margin-bottom: 50px;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease;
  padding: 0 4%;
}

.card {
  flex: 0 0 calc(100% - 10px);
  margin-right: 10px; /* Add 10px margin-right */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 400px;
  padding: 20px;
  border-radius: 10px; /* Add border-radius */
  box-shadow: 0px 10px 10px rgba(159, 102, 219, 0.18);
  margin-bottom: 5%;
}

.card-image {
  width: 100%;
  height: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-family: "Geomanist Bold";
  font-size: 20px;
  color: #676767;
}

.card-text {
  font-family: "Bariol Regular";
  font-size: 15px;
  color: #676767;
}

.card-button {
  align-self: flex-end;
  background-color: white;
  color: #9f66db;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-button:hover {
  background-color: white;
}

.card-button span {
  font-weight: bold;
}


/* Estilos del footer */

#dropdown-footer,
#dropdown-footer2, 
#dropdown-footer3, 
#dropdown-footer4 {
    display: none;
  }
  
  #dropdown-footer.vision,
  #dropdown-footer2.vision,
  #dropdown-footer3.vision,
  #dropdown-footer4.vision {
    display: block;
  }
 
footer {
  width: 100%;
  height: 100%;
  background-color: #EFEFEF;
}  

.footer-container {
  padding: 42px 21px 15px 15px;
  display: flex;
  flex-direction: column;
}

.footer-button {
  font-family: 'Geomanist Bold';
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 11px;
  margin-bottom: 20px;
  border-bottom: 1px solid orange;
  color: #FF8833;
  font-size: 16px;
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 11px;
  margin-bottom: 20px;
  border-bottom: 1px solid #FFC499;
}

.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-list,
.footer-list2 {
  font-family: 'Bariol Regular';
  padding: 0px 21px 0px 0px;
  color: #676767;
  font-size: 14px;
}

.footer-list li,
.footer-list2 li{
  list-style: none;
  margin-bottom: 19px;
}

.footer-list ul li:nth-child(4) {
  margin-bottom: 27px;
}

.footer-list2 ul li:nth-child(5) {
  margin-bottom: 27px;
}

.last-footer {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 21px;
  color: #676767;
  font-size: 10px;
  font-family: 'Bariol Regular';
}

    /* Iphone XR */
    @media screen and (min-width: 414px) {
      .cover-page {
          background: url(../img/portada-negocio2.svg); 
      }
  }






