@font-face {
  font-family: "Geomanist Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Geomanist Bold"),
    url("fonts/Geomanist-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Geomanist Book";
  src: url("../font/Geomanist-Book.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bariol Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Regular"),
    url("fonts/bariol_regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Regular Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Regular Italic"),
    url("fonts/bariol_regular_italic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Thin Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Thin Italic"),
    url("fonts/bariol_thin_italic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Thin";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Thin"),
    url("fonts/bariol_thin-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Light";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Light"),
    url("fonts/bariol_light-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Light Italic"),
    url("fonts/bariol_light_italic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Bold"),
    url("fonts/bariol_bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Bold Italic"),
    url("fonts/bariol_bold_italic-webfont.woff") format("woff");
}

/* Estilos generales para la página */
body {
  margin: 0;
  width: auto;
  font-family: "Bariol Regular", sans-serif;
}

/* Estilos para el hero y la imagen */
.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
}

.hero h1 {
  font-family: "Geomanist Bold";
  font-size: 20px;
  color: #676767;
  margin-bottom: 2%;
}

.hero p {
  font-family: "Bariol Regular";
  font-size: 12px;
  color: #676767;
  margin-top: 2%;
}

.hero img {
  width: 100%;
  position: relative;
}

.hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -80%);
  text-align: left;
}

.hero-button {
  background-color: #9f66db;
  border-width: 0cm;
  border-radius: 5px;
  padding: 7%;
  padding-left: 15%;
  padding-right: 15%;
  color: white;
  font-family: "Bariol Regular";
  font-size: 12px;
  margin-top: 10%;
}

.hero-3-buttons {
  transform: translate(0%, -100%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hero-options {
  height: 92px;
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 3%;
  padding-left: 6%;
  padding-right: 6%;
  border-radius: 5px 0px 0px 5px;
  box-shadow: 0px 10px 10px rgba(159, 102, 219, 0.18);
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right: 1px solid #dfccf3;
  background-color: white;
  color: #9f66db;
  font-family: "Bariol Regular";
  font-size: 15px;
}

.hero-options-middle {
  height: 92px;
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 3%;
  padding-left: 6%;
  padding-right: 6%;
  border-radius: 0px 0px 0px 0px;
  box-shadow: 0px 10px 10px rgba(159, 102, 219, 0.18);
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right: 1px solid #dfccf3;
  background-color: white;
  color: #9f66db;
  font-family: "Bariol Regular";
  font-size: 15px;
}
.hero-options-middle2 {
  height: 92px;
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1%;
  padding-left: 6%;
  padding-right: 6%;
  border-radius: 0px 0px 0px 0px;
  box-shadow: 0px 10px 10px rgba(159, 102, 219, 0.18);
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right: 1px solid #dfccf3;
  background-color: white;
  color: #9f66db;
  font-family: "Bariol Regular";
  font-size: 15px;
}

.hero-options-last {
  height: 92px;
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 3%;
  padding-left: 6%;
  padding-right: 6%;
  border-radius: 0px 5px 5px 0px;
  box-shadow: 0px 10px 10px rgba(159, 102, 219, 0.18);
  border-width: 0px;
  background-color: white;
  color: #9f66db;
  font-family: "Bariol Regular";
  font-size: 15px;
}
.button-image {
  width: 50%;
}
/* seccion de recomendaciones */
.recomendaciones-responsive {
  display: none;
}
.recomendaciones {
  margin-top: -20%;
  padding-left: 0%;
  padding-right: 0%;
}

.recomendaciones h2 {
  font-family: "Geomanist Bold";
  font-size: 20px;
  color: #ff6900;
  padding-bottom: 5%;
}

.imagenes-recomendaciones img {
  padding-bottom: 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.recomendacion-1-title {
  position: absolute;
  transform: translate(145%, -130%);
  text-align: left;
  margin-left: 4%;
}

.recomendacion-1-title h1 {
  font-family: "Geomanist Bold";
  font-size: 16px;
  color: #efefef;
  margin-bottom: 2%;
}

.recomendacion-1-title p {
  font-family: "Bariol Regular";
  font-size: 10px;
  color: #efefef;
  margin-top: 2%;
  width: 100%;
}

.recomendacion-1-button {
  background-color: #ffa666;
  border-width: 0cm;
  border-radius: 5px;
  padding: 4%;
  padding-left: 15%;
  padding-right: 15%;
  color: white;
  font-family: "Bariol Regular";
  font-size: 12px;
  margin-top: 5%;
}

.recomendacion-2-title {
  position: absolute;
  transform: translate(150%, -130%);
  text-align: left;
}

.recomendacion-2-title h1 {
  font-family: "Geomanist Bold";
  font-size: 16px;
  color: #676767;
  margin-bottom: 2%;
}

.recomendacion-2-title p {
  font-family: "Bariol Regular";
  font-size: 10px;
  color: #676767;
  margin-top: 2%;
}

.recomendacion-2-button {
  background-color: #9f66db;
  border-width: 0cm;
  border-radius: 5px;
  padding: 4%;
  padding-left: 15%;
  padding-right: 15%;
  color: white;
  font-family: "Bariol Regular";
  font-size: 12px;
  margin-top: 5%;
}

.recomendacion-3-title {
  position: absolute;
  transform: translate(150%, -150%);
  text-align: left;
}

.recomendacion-3-title h1 {
  font-family: "Geomanist Bold";
  font-size: 16px;
  color: #efefef;
  margin-bottom: 2%;
}

.recomendacion-3-title p {
  font-family: "Bariol Regular";
  font-size: 10px;
  color: #efefef;
  margin-top: 2%;
}

/*Card slider*/

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

h3 {
  font-family: "Geomanist Bold";
  font-size: 20px;
  color: #ff6900;
  padding-left: 5%;
  margin-top: 7%;
  margin-bottom: 7%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.slider {
  width: 100%;
  overflow: hidden;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease;
  padding: 0 4%;
}

.card {
  flex: 0 0 calc(100% - 10px);
  margin-right: 10px;
  /* Add 10px margin-right */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 400px;
  padding: 20px;
  border-radius: 10px;
  /* Add border-radius */
  box-shadow: 0px 10px 10px rgba(159, 102, 219, 0.18);
  margin-bottom: 5%;
}

.card-image {
  width: 100%;
  height: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-family: "Geomanist Bold";
  font-size: 20px;
  color: #676767;
}

.card-text {
  font-family: "Bariol Regular";
  font-size: 15px;
  color: #676767;
}

.card-button {
  align-self: flex-end;
  background-color: white;
  color: #9f66db;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-button:hover {
  background-color: white;
}

.card-button span {
  font-weight: bold;
}

.subscribe {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
}

.subscribe h1 {
  font-family: "Geomanist Bold";
  font-size: 20px;
  color: white;
  margin-bottom: 2%;
}

.subscribe p {
  font-family: "Bariol Regular", sans serif;
  font-size: 13px;
  color: white;
  margin-top: 2%;
}

.subscribe img {
  width: 100%;
  position: relative;
  padding: 4%;
}

.subscribe-title {
  position: absolute;
  transform: translate(33%, -130%);
  text-align: center;
}
@media screen and (min-width: 428px) {
  .subscribe-title {
    position: absolute;
    transform: translate(40%, -145%);
    text-align: center;
  }
}
.input-placeholder {
  padding: 5%;
  width: 100%;
}

input[type="email"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  background-image: url("img/icono-correo.svg");
  /* Replace this with the path to your email icon */
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: 10px center;
  text-indent: 40px;
}

.subscribe-button {
  background-color: #ffa666;
  border-width: 0cm;
  border-radius: 5px;
  padding: 4%;
  padding-left: 15%;
  padding-right: 15%;
  color: white;
  font-family: "Bariol Regular";
  font-size: 20px;
}

/* /////////////////////////// Estilos del footer ///////////////////////////  */

#dropdown-footer,
#dropdown-footer2,
#dropdown-footer3,
#dropdown-footer4 {
  display: none;
}

#dropdown-footer.vision,
#dropdown-footer2.vision,
#dropdown-footer3.vision,
#dropdown-footer4.vision {
  display: block;
}

footer {
  width: 100%;
  height: 100%;
  background-color: #efefef;
}

.footer-container {
  padding: 42px 21px 35px 15px;
  display: flex;
  flex-direction: column;
}

.footer-button {
  font-family: "Bariol Regular", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 11px;
  margin-bottom: 20px;
  border-bottom: 1px solid orange;
  color: #ff8833;
  font-size: 16px;
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 11px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ffc499;
}

.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-list,
.footer-list2 {
  font-family: "Bariol Regular", sans-serif;
  padding: 0px 21px 0px 0px;
  color: #676767;
  font-size: 14px;
}

.footer-list li,
.footer-list2 li {
  list-style: none;
  margin-bottom: 19px;
}

.footer-list ul li:nth-child(4) {
  margin-bottom: 27px;
}

.footer-list2 ul li:nth-child(5) {
  margin-bottom: 27px;
}

.last-footer {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 21px;
  color: #676767;
  font-size: 10px;
  font-family: "Bariol Regular", sans-serif;
}

.boton-noticia {
  display: flex;
  justify-content: end;
}

a {
  text-decoration: none;
  color: #9f66db;
}

a:visited {
  color: #9f66db;
}

a:hover {
  color: #9f66db;
}

a:active {
  color: #9f66db;
}

/* /////////////////////////// Estilos para la sección de recomendaciones en pantallas grandes ///////////////////////////  */
/* Media query para pantallas con ancho mínimo de 1200px */
@media screen and (min-width: 1200px) {
  .hero-image {
    display: none;
  }
  /* Create a pseudo-element to display the new image */
  .hero-img::before {
    content: url("img/hero_responsive.svg");
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 10%;
  }
  .hero-3-buttons {
    transform: translate(0%, -230%);
  }
  .hero-options {
    padding-top: 1%;
  }
  .hero-options-middle {
    padding-top: 1%;
  }
  .hero-options-last {
    padding-top: 1%;
  }
  /* Estilos titulos */
  .hero-title {
    transform: translate(-10%, -40%);
  }
  .hero-title h1 {
    font-size: 52px;
  }
  .hero-title p {
    font-size: 32px;
  }
  .hero-button {
    width: auto;
    font-size: 22px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .hero-3-buttons {
    transform: translate(0%, -190%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .hero-options {
    height: 120px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2%;
    padding-left: 6%;
    padding-right: 6%;
    border-radius: 5px 0px 0px 5px;
    box-shadow: 0px 10px 10px rgba(159, 102, 219, 0.18);
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right: 1px solid #dfccf3;
    background-color: white;
    color: #9f66db;
    font-family: "Bariol Regular";
    font-size: 15px;
  }

  .hero-options-middle {
    height: 120px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2%;
    padding-left: 6%;
    padding-right: 6%;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 10px 10px rgba(159, 102, 219, 0.18);
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right: 1px solid #dfccf3;
    background-color: white;
    color: #9f66db;
    font-family: "Bariol Regular";
    font-size: 15px;
  }
  .hero-options-middle2 {
    height: 120px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2%;
    padding-left: 6%;
    padding-right: 6%;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 10px 10px rgba(159, 102, 219, 0.18);
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right: 1px solid #dfccf3;
    background-color: white;
    color: #9f66db;
    font-family: "Bariol Regular";
    font-size: 15px;
  }
  .hero-options-last {
    height: 120px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2%;
    padding-left: 6%;
    padding-right: 6%;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 0px 10px 10px rgba(159, 102, 219, 0.18);
    border-width: 0px;
    background-color: white;
    color: #9f66db;
    font-family: "Bariol Regular";
    font-size: 15px;
  }
  .button-image img {
    width: 100%;
  }
  .hero-options a {
    text-decoration: none;
    color: #9f66db;
    width: 200px;
    padding-top: 7px;
    font-size: 17px;
  }
  .hero-options-middle a {
    text-decoration: none;
    color: #9f66db;
    width: 200px;
    padding-top: 7px;
    font-size: 17px;
  }
  .hero-options-middle2 a {
    text-decoration: none;
    color: #9f66db;
    width: 200px;
    padding-top: 7px;
    font-size: 17px;
  }
  .hero-options-last a {
    text-decoration: none;
    color: #9f66db;
    width: 200px;
    padding-top: 7px;
    font-size: 17px;
  }

  h3 {
    font-family: "Geomanist Bold";
    font-size: 30px;
    color: #ff6900;
    padding-left: 5%;
    margin-top: 7%;
    margin-bottom: 7%;
  }
  /* Estilos para recomendaciones en pantallas grandes */
  .recomendaciones {
    padding-top: 4%;
    width: 100%;
  }
  .imagenes-recomendaciones {
    height: 100%;
    display: none;
  }
  .recomendaciones-responsive {
    display: flex;
  }
  .recomendacion-1-title {
    transform: translate(-10%, -50%);
  }
  .recomendacion-1-title h1 {
    font-size: 40px;
  }
  .recomendacion-1-title p {
    font-size: 20px;
    text-align: center;
  }
  .recomendacion-1-button {
    transform: translate(20%, 500%);
    font-size: 22px;
  }
  .recomendacion-2-title {
    transform: translate(125%, -120%);
  }
  .recomendacion-2-title h1 {
    font-size: 40px;
    text-align: center;
  }
  .recomendacion-2-title p {
    font-size: 20px;
    text-align: center;
  }
  .recomendacion-2-button {
    transform: translate(20%, 20%);
    font-size: 22px;
  }
  .recomendacion-3-title {
    transform: translate(135%, -130%);
  }
  .recomendacion-3-title h1 {
    font-size: 40px;
    text-align: center;
  }
  .recomendacion-3-title p {
    font-size: 20px;
    text-align: center;
  }
  .container1 {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
  }

  .container-img1,
  .container-img2 {
    width: 100%;
    /* Cambia el valor a continuación si deseas un espacio entre las imágenes */
    margin-bottom: 0px;
    padding-bottom: 5%;
  }

  .container2 {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
    padding-right: 5%;
  }
  /* Estilos para el slider en pantallas grandes */
  .slider-track {
    justify-content: center;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
  }

  /* Estilos para las cards */
  .card {
    flex: 0 0 calc(33.333% - 30px);
    margin: 15px;
    padding: 25px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
  }

  .card img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .card-title {
    font-family: "Geomanist Bold";
    font-size: 14px;
    color: #676767;
  }
  .card h3 {
    font-size: 24px;
    margin-top: 15px;
  }

  .card p {
    font-size: 13px;
    color: #676767;
    margin-top: 10px;
  }

  .card a {
    display: inline-block;
    text-decoration: none;
    font-family: "Bariol Regular";
    font-size: 16px;
    color: #ff8833;
    margin-top: 20px;
  }
  .card-button {
    align-self: flex-end;
    background-color: white;
    color: #9f66db;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 12px;
  }
  .boton-noticia {
    display: flex;
    justify-content: end;
    transform: translate(50%, 0%);
  }

  .subscribe {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 100px;
  }

  .subscribe h1 {
    font-family: "Geomanist Bold";
    font-size: 30px;
    color: white;
    margin-bottom: 7%;
  }

  .subscribe p {
    font-family: "Bariol Regular", sans serif;
    font-size: 20px;
    color: white;
    margin-top: 2%;
    margin-bottom: 3%;
  }
  /* Hide the original image on larger screens */
  @media (min-width: 1200px) {
    .subscribe-image {
      display: none;
    }
    .pago-login img {
      padding-right: 30px;
    }
    /* Create a pseudo-element to display the new image */
    .subscribe-img::before {
      content: url("img/subscribe-responsive.svg");
      display: block;
      position: relative;
      width: 100%;
      padding-left: 5%;
    }

    .subscribe img {
      width: 1440px;
      height: 501px;
      position: relative;
      padding: 4%;
    }

    .subscribe-title {
      position: absolute;
      transform: translate(150%, -110%);
      text-align: center;
    }

    .input-placeholder {
      padding: 5%;
      width: 100%;
    }

    input[type="email"] {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      background-color: #fff;
      background-image: url("img/icono-correo.svg");
      /* Replace this with the path to your email icon */
      background-repeat: no-repeat;
      background-size: 24px;
      background-position: 10px center;
      text-indent: 40px;
      margin-bottom: 7%;
      font-size: 20px;
    }

    .subscribe-button {
      background-color: #ffa666;
      border-width: 0cm;
      border-radius: 5px;
      padding: 4%;
      padding-left: 15%;
      padding-right: 15%;
      color: white;
      font-family: "Bariol Regular";
      font-size: 30px;
    }
    /******************************** Landing user*/
    .ver-todos {
      display: flex;
      padding-bottom: 2%;
      justify-content: end;
      font-family: "Geomanist Bold";
      font-size: 20px;
      color: #9f66db;
    }
    .user-data {
      padding-bottom: 100px;
      padding-left: 5%;
      padding-right: 5%;
      margin-top: -70px;
      display: flex;
      flex-direction: column;
    }
    .user-data h4 {
      padding: 0%;
      margin-bottom: 2%;
      margin-top: 0%;
      color: #676767;
      font-family: "Geomanist Bold";
      font-size: 30px;
    }
    .user-selector {
      margin-right: 10px;
      border-radius: 5px;
      border-color: #666;
      border-width: 1px;
      background-color: #f3f3f3;
      color: #676767;
      cursor: pointer;
      padding: 8px 12px;
      transition: background-color 0.3s, color 0.3s;
      font-family: "Bariol Regular";
      font-size: 15px;
    }

    .user-selector:focus,
    .user-selector:active {
      background-color: #dfccf3;
      color: #5f259f;
      outline: none;
      font-family: "Bariol Regular";
      font-size: 15px;
    }

    .mis-productos,
    .estado-tramite,
    .acciones-rapidas {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 20px;
      margin-bottom: 10px;
      box-shadow: 0 4px 6px rgba(159, 102, 219, 0.25);
    }
  }
  .container-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .container-info img {
    margin-right: 40px;
  }
  .container-info .titulo,
  .container-info .subtitulo {
    margin: 0;
  }
  .titulo {
    font-family: "Geomanist Bold";
    font-size: 18px;
    color: #ff8833;
  }
  .titulo2 {
    font-family: "Bariol Regular";
    font-size: 18px;
    color: #676767;
  }
  .titulo3 {
    font-family: "Bariol Regular";
    font-size: 23px;
    color: #9f66db;
  }
  .subtitulo {
    font-family: "Bariol Light";
    font-size: 18px;
    color: #676767;
  }
  .container-info .subtitulo {
    margin-top: 4px;
  }
  .p {
    padding-left: 800px;
    color: #ff8833;
    font-size: 28px;
  }
  .p2 {
    padding-left: 840px;
    color: #ff8833;
    font-size: 28px;
  }
  .status1 {
    border-radius: 5px;
    border-color: #5f259f;
    border-width: 10px;
    background-color: #dfccf3;
    color: #5f259f;
    cursor: pointer;
    width: fit-content;
    margin-top: 10px;
    padding: 2%;
  }
  .status {
    border-radius: 5px;
    border-color: #666;
    border-width: 1px;
    background-color: #ffe1cc;
    color: #ff8833;
    cursor: pointer;
    width: fit-content;
    margin-top: 10px;
    padding: 2%;
  }
  .acciones-rapidas {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .acciones-rapidas .container-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    padding: 10px;
  }

  .acciones-rapidas .container-info img {
    margin-bottom: 10px;
  }
  .container-info2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(159, 102, 219, 0.25);
  }
  .container-info2 img {
    margin-right: 0px;
  }
  .container-info2 .titulo,
  .container-info2 .subtitulo {
    margin: 0;
  }
  .container-info2 .subtitulo {
    margin-top: 4px;
  }
  .acciones-rapidas {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .acciones-rapidas .container-info2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
  }

  .acciones-rapidas .container-info2 img {
    margin-bottom: 10px;
  }
  .hidden {
    display: none;
  }
  .imgtext {
    justify-content: center;
    align-items: center;
    display: block;
    text-align: center;
    padding: 40px 140px 40px 140px;
  }
  .imgtext2 {
    justify-content: center;
    align-items: center;
    display: block;
    text-align: center;
    padding: 40px 130px 40px 130px;
  }
  .imgtext3 {
    justify-content: center;
    align-items: center;
    display: block;
    text-align: center;
    padding: 40px 90px 40px 90px;
  }
}

/* =================================================================*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 177, 187, 0.1);
  padding: 10px;
  position: relative;
  z-index: 5;
}

.navbar img {
  padding: 2%;
}

/* Estilos para el menú hamburguesa */

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.material-icons {
  color: #00a2af;
}

/* Estilos para el ícono del menú hamburguesa */
.hamburger-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.submenu {
  display: none;
}

.show {
  display: block;
}

.desktop-menu {
  flex-direction: column;
  width: 100%;
  display: none;
}

/* Estilos para el menú hamburguesa desplegado */
.hamburger-menu-container {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  z-index: 10;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0px 10px 10px rgba(0, 177, 187, 0.1);
}

/* Estilos para botones naranjas del menú hamburguesa */
.menu-button {
  background-color: #ff8833;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px 20px;
  border-radius: 5px;
  margin: 5px 0;
}

.menu-button img {
  margin-right: 5px;
  vertical-align: middle;
  width: 24px;
  height: 24px;
}

.top-level-items img {
  display: none;
}

.li-menu-button {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

/* Estilos para titulos naranjas menú hamburguesa */
.dropdown-title {
  position: relative;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-left: 10px;
}

.dropdown-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 10px;
  border-bottom: 1px solid #ffe1cc;
}

.arrow-down {
  font-size: 0.8em;
  margin-right: 10px;
}

.dropdown-title:hover {
  cursor: pointer;
}

.hamburger-menu-container ul li .dropdown-title {
  color: #ff8833;
}

.hamburger-menu-container ul {
  list-style-type: none;
  padding: 0;
}

.hamburger-menu-container ul li a {
  display: block;
  color: #676767;
  padding: 8px 16px;
  text-decoration: none;
}

.hamburger-menu-container a.menu-button {
  color: white;
}

.hamburger-menu-container ul li .dropdown {
  display: none;
  position: relative;
}

.hamburger-menu-container ul li .dropdown ul {
  position: absolute;
  top: 0;
  left: 100%;
  width: 250px;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
}

.hamburger-menu-container ul li .dropdown ul li a {
  padding: 5px 16px;
}

.hamburger-menu-container ul li .dropdown ul li a:hover {
  background-color: #666;
}

.hamburger-menu-container ul li a:hover,
.hamburger-menu-container ul li:hover > .dropdown {
  cursor: pointer;
}

/*/ //////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media screen and (min-width: 1200px) {
  /* Estilos navbar */
  .hamburger-menu {
    display: none;
  }

  .navbar {
    flex-direction: column;
    padding: 0%;
  }

  .desktop-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .top-level-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    height: 100%;
    padding: 1%;
  }

  .pago-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  .contact-preguntas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
  }

  .navbar img {
    display: none;
  }

  .top-level-items img {
    display: block;
    padding: 0%;
  }

  .contact-preguntas a {
    color: #676767;
  }

  a.menu-button {
    color: #efefef;
    text-decoration: none;
  }

  .dropdown-title2 {
    position: relative;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-left: 10px;
    width: 200px;
    font-size: 20px;
    font-family: "Geomanist Medium", sans-serif;
    color: #676767;
  }

  .dropdown-title2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 10px;
    border-bottom: 0px solid #ffe1cc;
  }

  .arrow-down {
    display: none;
    font-size: 0.8em;
    margin-right: 10px;
  }

  .category-items {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    list-style-type: none;
    padding: 1%;
    background-color: #efefef;
    width: 100%;
    margin-bottom: 0%;
  }

  .dropdown-container {
    margin-right: 150px;
  }

  .dropdown-container:last-child {
    margin-right: 0;
  }

  .navbar li {
    position: relative;
    display: inline-block;
    transform: translate(0%, 10%);
    font-size: 20px;
  }

  .navbar li > a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #676767;
    align-items: center;
  }

  .navbar .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: #ffffff;
    box-shadow: 0px 10px 10px rgba(0, 177, 187, 0.1);
    border-radius: 5px;
    z-index: 10;
    width: auto;
    padding: 10px;
  }

  .navbar li:hover .submenu {
    display: flex;
    flex-direction: column;
    width: 150%;
    background-color: #efefef;
  }
}
