@font-face {
  font-family: "Geomanist Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Geomanist Bold"),
    url("/fonts/Geomanist-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Geomanist Book";
  src: url("/fonts/Geomanist-Book.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bariol Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Regular"),
    url("/fonts/bariol_regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Regular Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Regular Italic"),
    url("/fonts/bariol_regular_italic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Thin Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Thin Italic"),
    url("/fonts/bariol_thin_italic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Thin";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Thin"),
    url("/font/bariol_thin-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Light";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Light"),
    url("/fonts/bariol_light-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Light Italic"),
    url("/fonts/bariol_light_italic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Bold"),
    url("/fonts/bariol_bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Bold Italic"),
    url("/fonts/bariol_bold_italic-webfont.woff") format("woff");
}

/* Estilos generales para la página */
body {
  margin: 0;
  width: auto;
  font-family: "Bariol Regular", sans-serif;
}

/* Estilos para el navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 177, 187, 0.1);
  padding: 10px;
  position: relative;
  z-index: 5;
}
.navbar img {
  padding: 2%;
}
/* Estilos para el menú hamburguesa */

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.material-icons {
  color: #00a2af;
}
/* Estilos para el ícono del menú hamburguesa */
.hamburger-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}
.submenu {
  display: none;
}
.show {
  display: block;
}
/* Estilos para el menú hamburguesa desplegado */
.hamburger-menu-container {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  z-index: 10;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0px 10px 10px rgba(0, 177, 187, 0.1);
}
/* Estilos para botones naranjas del menú hamburguesa */
.menu-button {
  background-color: #ff8833;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px 20px;
  border-radius: 5px;
  margin: 5px 0;
}

.menu-button img {
  margin-right: 5px;
  vertical-align: middle;
  width: 44px;
  height: 44px;
}
.li-menu-button {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
/* Estilos para titulos naranjas menú hamburguesa */
.dropdown-title {
  position: relative;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-left: 10px;
}
.dropdown-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 10px;
  border-bottom: 1px solid #ffe1cc;
}
.arrow-down {
  font-size: 0.8em;
  margin-right: 10px;
}

.dropdown-title:hover {
  cursor: pointer;
}

.hamburger-menu-container ul li .dropdown-title {
  color: #ff8833;
}
.hamburger-menu-container ul {
  list-style-type: none;
  padding: 0;
}

.hamburger-menu-container ul li a {
  display: block;
  color: #676767;
  padding: 8px 16px;
  text-decoration: none;
}
.hamburger-menu-container a.menu-button {
  color: white;
}
.hamburger-menu-container ul li .dropdown {
  display: none;
  position: relative;
}

.hamburger-menu-container ul li .dropdown ul {
  position: absolute;
  top: 0;
  left: 100%;
  width: 250px;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
}

.hamburger-menu-container ul li .dropdown ul li a {
  padding: 5px 16px;
}

.hamburger-menu-container ul li .dropdown ul li a:hover {
  background-color: #666;
}

.hamburger-menu-container ul li a:hover,
.hamburger-menu-container ul li:hover > .dropdown {
  cursor: pointer;
}
/*/ //////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Estilos para el botón "Atrás" */
.back-button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  color: #676767;
  font-family: "Bariol Regular", sans-serif;
}

/* Estilos para el hero y la imagen */
.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 2%;
}

.hero img {
  width: 100%;
  position: relative;
  display: block;
}

.hero-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: xx-large;
}

/* logo de calculadora con su media query */
.hero-icon img {
  width: 100%;
}
@media screen and (max-width: 1020px) {
  .hero-icon img {
    width: 70%;
    padding-top: 10%;
  }
}
@media screen and (max-width: 834px) {
  .hero-icon img {
    width: 50%;
  }
}
.hero-icon h1 {
  font-size: 60px;
  color: white;
  padding-top: 10%;
  padding-bottom: 10%;
  margin: 0%;
  font-family: "Geomanist Bold";
}

@media screen and (max-width: 768px) {
  .hero-icon h1 {
    font-size: 35px;
    padding-top: 10%;
    padding-bottom: 10%;
  }
}

@media screen and (max-width: 428px) {
  .hero-icon h1 {
    font-size: 20px;
    padding-top: 5%;
    padding-bottom: 10%;
  }
}
/*Barra de progreso 1*/
.breadcrumb {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 5%;
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
}

.grupo1 h4 {
  font-size: 15px;
  display: block;
  text-align: center;
  color: #ffa666;
}
.grupo2 h4 {
  font-size: 15px;
  display: block;
  text-align: center;
  color: #d9d9d9;
}
.grupo3 h4 {
  font-size: 15px;
  display: block;
  text-align: center;
  color: #d9d9d9;
}
.grupo1 {
  align-items: center;
  text-align: center;
  display: block;
  justify-content: center;
}
.grupo2 {
  align-items: center;
  text-align: center;
  display: block;
  justify-content: center;
}
.grupo3 {
  align-items: center;
  text-align: center;
  display: block;
  justify-content: center;
}
.barra1 {
  height: 2px;
  background-color: #ffa666;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  position: relative;
  border-radius: 5px;
  padding: 2%;
  width: 110px;
}
.barra2 {
  height: 2px;
  background-color: #d9d9d9;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  position: relative;
  border-radius: 5px;
  padding: 2%;
  width: 110px;
}
.barra3 {
  height: 2px;
  background-color: #d9d9d9;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  position: relative;
  border-radius: 5px;
  padding: 2%;
  width: 110px;
}

/* =================================================================*/

/*Barra de progreso 1*/
.breadcrumb {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 5%;
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
}

.grupo1b h4 {
  font-size: 15px;
  display: block;
  text-align: center;
  color: #ffa666;
}
.grupo2b h4 {
  font-size: 15px;
  display: block;
  text-align: center;
  color: #ffa666;
}
.grupo3b h4 {
  font-size: 15px;
  display: block;
  text-align: center;
  color: #d9d9d9;
}
.grupo1b {
  align-items: center;
  text-align: center;
  display: block;
  justify-content: center;
}
.grupo2b {
  align-items: center;
  text-align: center;
  display: block;
  justify-content: center;
}
.grupo3b {
  align-items: center;
  text-align: center;
  display: block;
  justify-content: center;
}
.barra1b {
  height: 2px;
  background-color: #ffa666;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  position: relative;
  border-radius: 5px;
  padding: 2%;
  width: 110px;
}
.barra2b {
  height: 2px;
  background-color: #ffa666;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  position: relative;
  border-radius: 5px;
  padding: 2%;
  width: 110px;
}
.barra3b {
  height: 2px;
  background-color: #d9d9d9;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  position: relative;
  border-radius: 5px;
  padding: 2%;
  width: 110px;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*Barra de progreso 1*/
.breadcrumb {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 5%;
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
}

.grupo1c h4 {
  font-size: 15px;
  display: block;
  text-align: center;
  color: #ffa666;
}
.grupo2c h4 {
  font-size: 15px;
  display: block;
  text-align: center;
  color: #ffa666;
}
.grupo3c h4 {
  font-size: 15px;
  display: block;
  text-align: center;
  color: #ffa666;
}
.grupo1c {
  align-items: center;
  text-align: center;
  display: block;
  justify-content: center;
}
.grupo2c {
  align-items: center;
  text-align: center;
  display: block;
  justify-content: center;
}
.grupo3c {
  align-items: center;
  text-align: center;
  display: block;
  justify-content: center;
}
.barra1c {
  height: 2px;
  background-color: #ffa666;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  position: relative;
  border-radius: 5px;
  padding: 2%;
  width: 110px;
}
.barra2c {
  height: 2px;
  background-color: #ffa666;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  position: relative;
  border-radius: 5px;
  padding: 2%;
  width: 110px;
}
.barra3c {
  height: 2px;
  background-color: #ffa666;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  position: relative;
  border-radius: 5px;
  padding: 2%;
  width: 110px;
}

/*Card slider*/

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

h3 {
  font-family: "Bariol Regular";
  font-size: 16px;
  color: #676767;
  padding-left: 3%;
  padding-bottom: 5%;
}
* {
  box-sizing: border-box;
  margin: 0;
}

.slider {
  width: 100%;
  overflow: hidden;
}

.slider-track {
  padding: 0 10%;
}
.card-holder {
  display: flex;
}
input[type="radio" i] {
  margin-top: 150px;
  margin-right: 30px;
  margin-left: -20px;
}

.card {
  flex: 0 0 calc(100% - 10px);
  margin-right: 10px; /* Add 10px margin-right */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 400px;
  padding: 20px;
  border-radius: 10px; /* Add border-radius */
  box-shadow: 0px 10px 10px rgba(159, 102, 219, 0.18);
  margin-bottom: 5%;
}

.card-image {
  width: 100%;
  height: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.card-text {
  margin-top: 5%;
}

.card-title {
  font-family: "Geomanist Bold";
  font-size: 20px;
  color: #676767;
}

.card-text {
  font-family: "Bariol Regular";
  font-size: 15px;
  color: #676767;
}

.card-button {
  align-self: flex-end;
  background-color: white;
  color: #9f66db;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-button:hover {
  background-color: white;
}

.card-button span {
  font-weight: bold;
}
.siguiente-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.siguiente-button {
  margin-top: 20px;
  background-color: #ff8833;
  color: white;
  padding: 10px 150px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Bariol Regular";
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*Datos personales*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.input-container label {
  margin-bottom: 5px;
  display: block;
  color: #ff8833;
  font-family: "Bariol Regular";
  font-size: 16px;
}

.input-container select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  color: #676767;
  font-family: "Bariol Regular";
  font-size: 16px;
}

.datos-personales {
  display: none;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.tipo-credito {
  margin-bottom: 40px;
}

.tipo-credito,
.datos-personales {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.datos-personales input,
.datos-personales select {
  margin-bottom: 10px;
  padding: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*Finalizado*/
.credito-finalizado p {
  padding: 5%;
  text-align: center;
  font-family: "Bariol Regular";
  font-size: 16px;
  margin-bottom: 10%;
  color: #676767;
}

.terminar-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.terminar-button {
  margin-top: 20px;
  background-color: #ff8833;
  color: white;
  padding: 10px 150px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Bariol Regular";
  margin-bottom: 45px;
}

/* Estilos del footer */

#dropdown-footer,
#dropdown-footer2,
#dropdown-footer3,
#dropdown-footer4 {
  display: none;
}

#dropdown-footer.vision,
#dropdown-footer2.vision,
#dropdown-footer3.vision,
#dropdown-footer4.vision {
  display: block;
}

footer {
  width: 100%;
  height: 100%;
  background-color: #efefef;
}

.footer-container {
  padding: 42px 21px 15px 15px;
  display: flex;
  flex-direction: column;
}

.footer-button {
  font-family: "Geomanist";
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 11px;
  margin-bottom: 20px;
  border-bottom: 1px solid orange;
  color: #ff8833;
  font-size: 16px;
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 11px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ffc499;
}
ul {
  padding-inline-start: 0px;
}
.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-list,
.footer-list2 {
  font-family: "Bariol Regular";
  padding: 0px 21px 0px 0px;
  color: #676767;
  font-size: 14px;
}

.footer-list li,
.footer-list2 li {
  list-style: none;
  margin-bottom: 19px;
}

.footer-list ul li:nth-child(4) {
  margin-bottom: 27px;
}

.footer-list2 ul li:nth-child(5) {
  margin-bottom: 27px;
}
/*
ul {
  padding-inline-start: 0px;
}*/

.last-footer {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 21px;
  color: #676767;
  font-size: 10px;
  font-family: "Bariol Regular";
}
.footer-container p {
  font-family: "Bariol Regular";
}
@media screen and (min-width: 1200px) {
  .hero img {
    width: 100%;
    position: relative;
    display: none;
  }
  .hero {
    padding: 0%;
  }
  .hero-image {
    display: none;
  }
  /* Create a pseudo-element to display the new image */
  .hero::before {
    content: url("/img/creditoi_responsive.svg");
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 0%;
  }
  .hero-icon {
    width: 8%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
  }
  .hero-icon h1 {
    font-size: 44px;
    width: 500px;
    transform: translate(-37%, -10%);
    display: none;
  }
  /*Barra de progreso 1*/
  .breadcrumb {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5%;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
  }

  .grupo1 h4 {
    font-size: 15px;
    display: block;
    text-align: center;
    color: #ffa666;
  }
  .grupo2 h4 {
    font-size: 15px;
    display: block;
    text-align: center;
    color: #d9d9d9;
  }
  .grupo3 h4 {
    font-size: 15px;
    display: block;
    text-align: center;
    color: #d9d9d9;
  }
  .grupo1 {
    align-items: center;
    text-align: center;
    display: block;
    justify-content: center;
  }
  .grupo2 {
    align-items: center;
    text-align: center;
    display: block;
    justify-content: center;
  }
  .grupo3 {
    align-items: center;
    text-align: center;
    display: block;
    justify-content: center;
  }
  .barra1 {
    height: 2px;
    background-color: #ffa666;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    position: relative;
    border-radius: 5px;
    padding: 1%;
    width: 400px;
  }
  .barra2 {
    height: 2px;
    background-color: #d9d9d9;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    position: relative;
    border-radius: 5px;
    padding: 1%;
    width: 400px;
  }
  .barra3 {
    height: 2px;
    background-color: #d9d9d9;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    position: relative;
    border-radius: 5px;
    padding: 1%;
    width: 400px;
  }

  /* =================================================================*/

  /*Barra de progreso 1*/
  .breadcrumb {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5%;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
  }

  .grupo1b h4 {
    font-size: 15px;
    display: block;
    text-align: center;
    color: #ffa666;
  }
  .grupo2b h4 {
    font-size: 15px;
    display: block;
    text-align: center;
    color: #ffa666;
  }
  .grupo3b h4 {
    font-size: 15px;
    display: block;
    text-align: center;
    color: #d9d9d9;
  }
  .grupo1b {
    align-items: center;
    text-align: center;
    display: block;
    justify-content: center;
  }
  .grupo2b {
    align-items: center;
    text-align: center;
    display: block;
    justify-content: center;
  }
  .grupo3b {
    align-items: center;
    text-align: center;
    display: block;
    justify-content: center;
  }
  .barra1b {
    height: 2px;
    background-color: #ffa666;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    position: relative;
    border-radius: 5px;
    padding: 1%;
    width: 400px;
  }
  .barra2b {
    height: 2px;
    background-color: #ffa666;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    position: relative;
    border-radius: 5px;
    padding: 1%;
    width: 400px;
  }
  .barra3b {
    height: 2px;
    background-color: #d9d9d9;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    position: relative;
    border-radius: 5px;
    padding: 1%;
    width: 400px;
  }
  /*Barra de progreso 1*/
  .breadcrumb {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5%;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
  }

  .grupo1c h4 {
    font-size: 15px;
    display: block;
    text-align: center;
    color: #ffa666;
  }
  .grupo2c h4 {
    font-size: 15px;
    display: block;
    text-align: center;
    color: #ffa666;
  }
  .grupo3c h4 {
    font-size: 15px;
    display: block;
    text-align: center;
    color: #ffa666;
  }
  .grupo1c {
    align-items: center;
    text-align: center;
    display: block;
    justify-content: center;
  }
  .grupo2c {
    align-items: center;
    text-align: center;
    display: block;
    justify-content: center;
  }
  .grupo3c {
    align-items: center;
    text-align: center;
    display: block;
    justify-content: center;
  }
  .barra1c {
    height: 2px;
    background-color: #ffa666;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    position: relative;
    border-radius: 5px;
    padding: 1%;
    width: 400px;
  }
  .barra2c {
    height: 2px;
    background-color: #ffa666;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    position: relative;
    border-radius: 5px;
    padding: 1%;
    width: 400px;
  }
  .barra3c {
    height: 2px;
    background-color: #ffa666;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    position: relative;
    border-radius: 5px;
    padding: 1%;
    width: 400px;
  }
  /*///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
  /*Card slider*/

  /*///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

  h3 {
    font-family: "Bariol Regular";
    font-size: 16px;
    color: #676767;
    padding-left: 3%;
    padding-bottom: 5%;
  }
  * {
    box-sizing: border-box;
    margin: 0;
  }

  .slider {
    width: 100%;
    overflow: hidden;
  }

  .slider-track {
    padding: 0% 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .card-holder {
    display: flex;
  }
  input[type="radio" i] {
    margin-top: 150px;
    margin-right: 30px;
    margin-left: -20px;
  }

  .card {
    flex: 0 0 calc(100% - 10px);
    margin-right: 10px; /* Add 10px margin-right */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 400px;
    width: 400px;
    padding: 20px;
    border-radius: 10px; /* Add border-radius */
    box-shadow: 0px 10px 10px rgba(159, 102, 219, 0.18);
    margin-bottom: 5%;
    margin-left: 0%;
  }

  .card-image {
    width: 100%;
    height: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }

  .card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  .card-text {
    margin-top: 5%;
  }

  .card-title {
    font-family: "Geomanist Bold";
    font-size: 20px;
    color: #676767;
  }

  .card-text {
    font-family: "Bariol Regular";
    font-size: 15px;
    color: #676767;
  }

  .card-button {
    align-self: flex-end;
    background-color: white;
    color: #9f66db;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .card-button:hover {
    background-color: white;
  }

  .card-button span {
    font-weight: bold;
  }
  .siguiente-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .siguiente-button {
    margin-top: 20px;
    background-color: #ff8833;
    color: white;
    padding: 10px 150px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Bariol Regular";
  }
  /*///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
  /*Datos personales*/

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 30%;
    padding-right: 30%;
  }

  .input-container label {
    margin-bottom: 5px;
    display: block;
    color: #ff8833;
    font-family: "Bariol Regular";
    font-size: 16px;
  }

  .input-container select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    color: #676767;
    font-family: "Bariol Regular";
    font-size: 16px;
  }

  .datos-personales {
    display: none;
    margin-bottom: 20px;
  }

  .hidden {
    display: none;
  }

  .tipo-credito {
    margin-bottom: 40px;
  }

  .tipo-credito,
  .datos-personales {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .datos-personales input,
  .datos-personales select {
    margin-bottom: 10px;
    padding: 10px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}
