@font-face {
  font-family: "Geomanist Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Geomanist Bold"),
    url("/fonts/Geomanist-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Geomanist Book";
  src: url("/fonts/Geomanist-Book.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bariol Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Regular"),
    url("/fonts/bariol_regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Regular Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Regular Italic"),
    url("/fonts/bariol_regular_italic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Thin Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Thin Italic"),
    url("/fonts/bariol_thin_italic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Thin";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Thin"),
    url("/font/bariol_thin-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Light";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Light"),
    url("/fonts/bariol_light-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Light Italic"),
    url("/fonts/bariol_light_italic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Bold"),
    url("/fonts/bariol_bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Bold Italic"),
    url("/fonts/bariol_bold_italic-webfont.woff") format("woff");
}

/* Estilos para el navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 177, 187, 0.1);
  padding: 10px;
  position: relative;
  z-index: 5;
}

.navbar img {
  padding: 2%;
}

body {
  margin: 0;
  width: auto;
  font-family: "Bariol Regular", sans-serif;
}
/* Estilos para el menú hamburguesa */

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.material-icons {
  color: #00a2af;
}

/* Estilos para el ícono del menú hamburguesa */
.hamburger-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.submenu {
  display: none;
}

.show {
  display: block;
}

/* Estilos para el menú hamburguesa desplegado */
.hamburger-menu-container {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  z-index: 10;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0px 10px 10px rgba(0, 177, 187, 0.1);
}

/* Estilos para botones naranjas del menú hamburguesa */
.menu-button {
  background-color: #ff8833;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px 20px;
  border-radius: 5px;
  margin: 5px 0;
}

.menu-button img {
  margin-right: 5px;
  vertical-align: middle;
  width: 24px;
  height: 24px;
}

.li-menu-button {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

/* Estilos para titulos naranjas menú hamburguesa */
.dropdown-title {
  position: relative;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-left: 10px;
}

.dropdown-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 10px;
  border-bottom: 1px solid #ffe1cc;
}

.arrow-down {
  font-size: 0.8em;
  margin-right: 10px;
}

.dropdown-title:hover {
  cursor: pointer;
}

.hamburger-menu-container ul li .dropdown-title {
  color: #ff8833;
}

.hamburger-menu-container ul {
  list-style-type: none;
  padding: 0;
}

.hamburger-menu-container ul li a {
  display: block;
  color: #676767;
  padding: 8px 16px;
  text-decoration: none;
}

.hamburger-menu-container a.menu-button {
  color: white;
}

.hamburger-menu-container ul li .dropdown {
  display: none;
  position: relative;
}

.hamburger-menu-container ul li .dropdown ul {
  position: absolute;
  top: 0;
  left: 100%;
  width: 250px;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
}

.hamburger-menu-container ul li .dropdown ul li a {
  padding: 5px 16px;
}

.hamburger-menu-container ul li .dropdown ul li a:hover {
  background-color: #666;
}

.hamburger-menu-container ul li a:hover,
.hamburger-menu-container ul li:hover > .dropdown {
  cursor: pointer;
}

/*/ //////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Estilos para el botón "Atrás" */
.back-button {
  background-color: transparent;
  border: none;
  font-size: 16px;

  text-align: left;
  cursor: pointer;
  color: #676767;
  font-family: "Bariol Regular", sans-serif;
}

:root {
  --white: white;
  --lila-lyrics: #9f66db;
  --lila-line: #dfccf3;
  --gray-lyric: #676767;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}


/* Estilo de miga de pan */

.nav-crumbs {
  display: flex;
  align-items: center;
  padding-top: 9px;
  padding-left: 10px;
}

.nav-crumbs p {
  font-family: "Bariol Regular";
  font-size: 10px;
  color: rgba(103, 103, 103, 0.36);
  width: 56px;
}

/* Estilos de la portada de la página */

#cover-page {
  position: relative;
  background-color: #efefef;
  background-repeat: no-repeat;
  width: 100%;
}

.information {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--gray-lyric);
}

.information h1 {
  font-size: 31px;
  font-family: "Geomanist", sans-serif;
  line-height: 34px;
  text-align: center;
  margin-bottom: 6px;
  padding: 40px 46px 0px 46px;
}

.information p {
  font-family: "Bariol Regular", sans-serif;
  font-size: 13px;
  text-align: center;
  padding: 0px 52px 0px 52px;
}

/* Estilos de la navegación secundaria */

.nav-cover {
  position: relative;
  top: 54%;
  left: 50%;
  transform: translate(-50%, 20%);
  background-color: var(--white);
  width: 366px;
  height: 37px;
  box-shadow: 5px 7px 30px rgba(159, 102, 219, 0.18);
  border-radius: 7px;
}


.nav-cover ul {
  list-style: none;
  display: flex;
  cursor: pointer;
}



h3 {
  font-family: "Bariol Regular", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  margin-top: 30px;
  /* or 27px */
  text-align: center;
  /* gris/2 */
  color: #676767;
}

#button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 80px;
  background-color: #efefef;
}

.comparative-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  background-color: white;
  padding: 20px;

  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.ahorro {
  background-color: #ff8833;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#ahorro-text {
  color: white;
}

#credito-text {
  color: #ff8833;
}

.images {
  display: flex;
  width: 100%;
}

button {
  border: 0px;
}

button:hover{
  background-color: white;
  border: 2px solid #FFA666;
  color: #FFA666;
}
#savings-button:hover{
  background: #FFE1CC;
}
button:hover{
  background-color: white;
  border: 2px solid #FFA666;
  color: #FFA666;
}

#comparador {
  background-repeat: no-repeat;
  width: 100%;
}

.image-resize {
  position: relative;
  padding-top: 80px;
  margin-top: -150px;
}

.nav-cover {
  position: relative;
  top: 54%;
  left: 50%;
  transform: translate(-50%, 20%);
  background-color: var(--white);
  width: 366px;
  height: 37px;
  box-shadow: 5px 7px 30px rgba(255, 136, 51, 0.18);
  border-radius: 7px;
  margin-top: -30px;
}


.nav-cover ul {
  list-style: none;
  display: flex;
  cursor: pointer;
}



#lyric {
  width: 140px;
}

.nav-cover a {
  text-decoration: none;
  font-size: 13px;
  color: #ff8833;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Bariol Regular", sans-serif;
  pointer-events: none;
}

.nav-cover p {
  text-align: center;
}

#filter-title-container {
  background: #ff8833;
  width: 100%;
}

#filter-title {
  font-family: "Bariol Regular", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #ffffff;

  padding-left: 20px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 8px;
}

#filter-container {
  display: flex;
  flex-direction: column;
  background: white;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;

  background: #ffffff;
  /* shadow 3 */

  box-shadow: 5px 7px 30px rgba(159, 102, 219, 0.18);
  border-radius: 8px;
  align-items: center;
  margin-bottom: 50px;
}

ul {
  list-style-type: none;
}

.filter-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.item-text {
  font-family: "Bariol Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  /* gris/2 */

  color: #676767;
}

.parameters-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

button {
  background: #ff8833;
  border-radius: 5.70103px;
  padding-top: 15px;
  padding-bottom: 15px;

  font-family: "Bariol Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #ffffff;
}

/* Estilos del footer */

#dropdown-footer,
#dropdown-footer2,
#dropdown-footer3,
#dropdown-footer4 {
  display: none;
}

#dropdown-footer.vision,
#dropdown-footer2.vision,
#dropdown-footer3.vision,
#dropdown-footer4.vision {
  display: block;
}

footer {
  width: 100%;
  height: 100%;
  background-color: #efefef;
}

.footer-container {
  padding: 42px 21px 35px 15px;
  display: flex;
  flex-direction: column;
}

.footer-button {
  font-family: "Bariol Regular", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 11px;
  margin-bottom: 20px;
  border-bottom: 1px solid orange;
  color: #ff8833;
  font-size: 16px;
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 11px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ffc499;
}

.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-list,
.footer-list2 {
  font-family: "Bariol Regular", sans-serif;
  padding: 0px 21px 0px 0px;
  color: #676767;
  font-size: 14px;
}

.footer-list li,
.footer-list2 li {
  list-style: none;
  margin-bottom: 19px;
}

.footer-list ul li:nth-child(4) {
  margin-bottom: 27px;
}

.footer-list2 ul li:nth-child(5) {
  margin-bottom: 27px;
}

.last-footer {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 21px;
  color: #676767;
  font-size: 10px;
  font-family: "Bariol Regular", sans-serif;
}
/* Barra de en medio, estilos */
#marker {
  position: absolute;
  left: 0;
  height: 4px;
  width: 183px;
  background: #FF8833;;
  bottom: -2px;
  transition: 0.5s;
  border-radius: 4px;
  z-index: 1;
}

#page-switcher li {
  color: #FF8833;;
  cursor: pointer;
}

#page-switcher li.select {
  color: #FF8833;;
}

.nav-cover ul {
  position: relative;
  list-style: none;
  display: flex;
  transform: translate(0%, -0%);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.nav-cover li {
  position: relative;
}

.characters {
  width: 183px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.requirements {
  width: 183px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav-cover a {
  text-decoration: none;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Bariol Regular";
  pointer-events: none;
}

.nav-cover p {
  text-align: center;
}

.cover-buttons {
  transform: translate(0%, -0%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#compared-section{
  display: none;
  flex-direction: column;
  align-items: center;
}

#comparar-otro{
  background: #ff8833;
  border-radius: 5.70103px;
  padding-top: 15px;
  padding-bottom: 15px;

  font-family: "Bariol Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #ffffff;
}


#portada{
  width: 100%;
}

@media screen and (max-width: 700px){
  #portada{
    content: url(./assets/portada-300_4x.webp);
  }
  #credito{
    content: url(./assets/credito-300_4x.webp);
  }

  #ahorro{
    content: url(./assets/ahorro-300_4x.webp);
  }

  #comparison-ahorro {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 90%;
    content: url(./assets/compared-ahorro_4x.webp);
  }

  #comparison-credito {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 90%;
    content: url(./assets/compared-credito_4x.webp);
  }
}

@media screen and (min-width: 701px) and (max-width: 1007px){
  #portada{
    content: url(./assets/portada-1007_4x.webp);
  }
  #credito{
    content: url(./assets/credito-1007_4x.webp);
  }
  #ahorro{
    content: url(./assets/ahorro-1007_4x.webp);
  }
  #filter-container {
    margin-left: 100px;
    margin-right: 100px;
  
    background: #ffffff;
    /* shadow 3 */
  }
}


@media screen and (min-width: 1008px){
  #portada{
    content: url(./assets/portada-1920_4x.webp);
  }
  #credito{
    content: url(./assets/credito-1920_4x.webp);
  }
  #ahorro{
    content: url(./assets/ahorro-1920_4x.webp);
  }
  #filter-container {
    margin-left: 200px;
    margin-right: 200px;
  
    background: #ffffff;
    /* shadow 3 */
  }
}

#credito{
  width: 100%;
}

#ahorro{
  width: 100%;
}

#comparison{
  margin-top: 70px;
  width: 80%;
}

