@font-face {
    font-family: "Geomanist Bold";
    font-style: normal;
    font-weight: normal;
    src: local("Geomanist Bold"),
        url("/fonts/Geomanist-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Geomanist Book";
    src: url("/fonts/Geomanist-Book.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Bariol Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Bariol Regular"),
        url("/fonts/bariol_regular-webfont.woff") format("woff");
}

@font-face {
    font-family: "Bariol Regular Italic";
    font-style: normal;
    font-weight: normal;
    src: local("Bariol Regular Italic"),
        url("/fonts/bariol_regular_italic-webfont.woff") format("woff");
}

@font-face {
    font-family: "Bariol Thin Italic";
    font-style: normal;
    font-weight: normal;
    src: local("Bariol Thin Italic"),
        url("/fonts/bariol_thin_italic-webfont.woff") format("woff");
}

@font-face {
    font-family: "Bariol Thin";
    font-style: normal;
    font-weight: normal;
    src: local("Bariol Thin"),
        url("/font/bariol_thin-webfont.woff") format("woff");
}

@font-face {
    font-family: "Bariol Light";
    font-style: normal;
    font-weight: normal;
    src: local("Bariol Light"),
        url("/fonts/bariol_light-webfont.woff") format("woff");
}

@font-face {
    font-family: "Bariol Light Italic";
    font-style: normal;
    font-weight: normal;
    src: local("Bariol Light Italic"),
        url("/fonts/bariol_light_italic-webfont.woff") format("woff");
}

@font-face {
    font-family: "Bariol Bold";
    font-style: normal;
    font-weight: normal;
    src: local("Bariol Bold"),
        url("/fonts/bariol_bold-webfont.woff") format("woff");
}

@font-face {
    font-family: "Bariol Bold Italic";
    font-style: normal;
    font-weight: normal;
    src: local("Bariol Bold Italic"),
        url("/fonts/bariol_bold_italic-webfont.woff") format("woff");
}

/* Estilos para el navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 10px 10px rgba(0, 177, 187, 0.1);
    padding: 10px;
    position: relative;
    z-index: 5;
}

.navbar img {
    padding: 2%;
}

/* Estilos para el menú hamburguesa */

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.material-icons {
    color: #00a2af;
}

/* Estilos para el ícono del menú hamburguesa */
.hamburger-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.submenu {
    display: none;
}

.show {
    display: block;
}

/* Estilos para el menú hamburguesa desplegado */
.hamburger-menu-container {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #ffffff;
    z-index: 10;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0px 10px 10px rgba(0, 177, 187, 0.1);
}

/* Estilos para botones naranjas del menú hamburguesa */
.menu-button {
    background-color: #ff8833;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8px 20px;
    border-radius: 5px;
    margin: 5px 0;
}

.menu-button img {
    margin-right: 5px;
    vertical-align: middle;
    width: 24px;
    height: 24px;
}

.li-menu-button {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

/* Estilos para titulos naranjas menú hamburguesa */
.dropdown-title {
    position: relative;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-left: 10px;
}

.dropdown-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 10px;
    border-bottom: 1px solid #ffe1cc;
}

.arrow-down {
    font-size: 0.8em;
    margin-right: 10px;
}

.dropdown-title:hover {
    cursor: pointer;
}

.hamburger-menu-container ul li .dropdown-title {
    color: #ff8833;
}

.hamburger-menu-container ul {
    list-style-type: none;
    padding: 0;
}

.hamburger-menu-container ul li a {
    display: block;
    color: #676767;
    padding: 8px 16px;
    text-decoration: none;
}

.hamburger-menu-container a.menu-button {
    color: white;
}

.hamburger-menu-container ul li .dropdown {
    display: none;
    position: relative;
}

.hamburger-menu-container ul li .dropdown ul {
    position: absolute;
    top: 0;
    left: 100%;
    width: 250px;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}

.hamburger-menu-container ul li .dropdown ul li a {
    padding: 5px 16px;
}

.hamburger-menu-container ul li .dropdown ul li a:hover {
    background-color: #666;
}

.hamburger-menu-container ul li a:hover,
.hamburger-menu-container ul li:hover>.dropdown {
    cursor: pointer;
}

/*/ //////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Estilos para el botón "Atrás" */
.back-button {
    background-color: transparent;
    border: none;
    font-size: 16px;

    text-align: left;
    cursor: pointer;
    color: #676767;
    font-family: "Bariol Regular", sans-serif;
}

:root {
    --white: white;
    --lila-lyrics: #9f66db;
    --lila-line: #dfccf3;
    --gray-lyric: #676767;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Estilos del menú de navegación */

nav {
    background-color: var(--white);
    padding: 10px 17px;
    height: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo de miga de pan */

.nav-crumbs {
    display: flex;
    align-items: center;
    padding-top: 9px;
    padding-left: 10px;
}

.nav-crumbs p {
    font-family: "Bariol Regular";
    font-size: 10px;
    color: rgba(103, 103, 103, 0.36);
    width: 56px;
}

/* Estilos de la portada de la página */

#cover-page {
    position: relative;
    background-color: #EFEFEF;
    background-repeat: no-repeat;
    width: 100%;
}

.information {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--gray-lyric);
}

.information h1 {
    font-size: 31px;
    font-family: "Geomanist";
    line-height: 34px;
    text-align: center;
    margin-bottom: 6px;
    padding: 40px 46px 0px 46px;
}

.information p {
    font-family: "Bariol Regular";
    font-size: 13px;
    text-align: center;
    padding: 0px 52px 0px 52px;
}

/* Estilos de la navegación secundaria */

.nav-cover {
    position: relative;
    top: 54%;
    left: 50%;
    transform: translate(-50%, 20%);
    background-color: var(--white);
    width: 366px;
    height: 37px;
    box-shadow: 5px 7px 30px rgba(159, 102, 219, 0.18);
    border-radius: 7px;
}

.cover-buttons {
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.nav-cover ul {
    list-style: none;
    display: flex;
    cursor: pointer;
}

.characters {
    position: relative;
    width: 50%;
    right: 40px;
}

.requirements {
    position: relative;
    left: 50px;
    width: 50%;
}

h3 {
    font-family: 'Bariol';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    margin-top: 30px;
    /* or 27px */
    text-align: center;
    /* gris/2 */
    color: #676767;
}

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 80px;
    background-color: #EFEFEF;
}

.comparative-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    background-color: white;
    padding: 20px;

    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.ahorro {
    background-color: #FF8833;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#ahorro-text {
    color: white;
}

#credito-text {
    color: #FF8833;
}

.images {
    display: flex;
    width: 100%;
}

button {
    border: 0px;
}

#comparador {
    background-repeat: no-repeat;
    width: 100%;
}

.image-resize {
    position: relative;
    padding-top: 80px;
    margin-top: -150px;
}

.nav-cover {
    position: relative;
    top: 54%;
    left: 50%;
    transform: translate(-50%, 20%);
    background-color: var(--white);
    width: 366px;
    height: 37px;
    box-shadow: 5px 7px 30px rgba(255, 136, 51, 0.18);
    border-radius: 7px;
    margin-top: -30px;
}

.cover-buttons {
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.nav-cover ul {
    list-style: none;
    display: flex;
    cursor: pointer;
}

.characters {
    position: relative;
    width: 50%;
    right: 40px;
}

.requirements {
    position: relative;
    left: 50px;
    width: 50%;
}

#lyric {
    width: 140px;
}

.nav-cover a {
    text-decoration: none;
    font-size: 13px;
    color: #FF8833;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Bariol Regular";
    pointer-events: none;
}

.nav-cover p {
    text-align: center;
}

#filter-title-container {
    background: #FF8833;
    width: 100%;
}

#filter-title {
    font-family: 'Bariol';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    color: #FFFFFF;

    padding-left: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 8px;
}

#filter-container{
    display: flex;
    flex-direction: column;
    background: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;

    background: #FFFFFF;
    /* shadow 3 */

    box-shadow: 5px 7px 30px rgba(159, 102, 219, 0.18);
    border-radius: 8px;
    align-items: center;
    margin-bottom: 50px;

}

ul {
    list-style-type: none;
}

.filter-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.item-text {
    font-family: 'Bariol';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    /* gris/2 */

    color: #676767;
}

.parameters-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#compared {
    background: #FF8833;
    border-radius: 5.70103px;
    padding-top: 15px;
    padding-bottom: 15px;

    font-family: 'Bariol';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #FFFFFF;
}

#comparison {
    margin-top: 40px;
    margin-bottom: 40px;
}