@font-face {
    font-family: "Geomanist";
    src: url("../font/Geomanist-Bold.ttf");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Geomanist Book";
    src: url("../font/Geomanist-Book.ttf");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Bariol Regular";
    font-style: normal;
    font-weight: normal;
    src: url("../font/bariol_regular-webfont.ttf") format("woff");
  }

  @font-face {
    font-family: 'Bariol Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Bariol Bold'), url('../font/bariol_bold-webfont.ttf') format('woff');
    }
  
  :root {
    --white: white;
    --lila-lyrics: #9f66db;
    --lila-line: #dfccf3;
    --gray-lyric: #676767;
    --Acuamarina : #00B1BB;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bariol Regular", sans-serif;
  }
  a {
    text-decoration: none;
  }
  

  /* Estilos de la portada de la página */
  
  .cover-page {
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    ;
  }
  
  .information {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
  }
  
  .information h1 {
    position: relative;
    z-index: 2;
    font-size: 32px;
    font-family: "Geomanist";
    line-height: 34px;
    text-align: center;
    margin-bottom: 6px;
    padding: 62px 60px 0px 60px;
    color: var(--gray-lyric);
  }
  
  .information p {
    font-family: "Bariol Regular";
    font-size: 13px;
    text-align: center;
    padding: 0px 65px 0px 65px;
    line-height: 16.72px;
    color: var(--gray-lyric);
  }

  .objects {
    position: absolute;
    top: 30px;
    right: 0;
    pointer-events: none;
  }

  .filter {
    position: relative;
    margin-left: 6%;
    margin-top: 3%;
  }

  /* /////////////////////// fILTRO /////////////// */
  aside {
    position: fixed;
    background-image: url(../img/fondo-filtro.jpg);
    background-repeat: no-repeat;
    inset: 0;
    top: 105px;
    z-index: 10;
    max-width: 390px;
}

.close {
    display: flex;
    justify-content: end;
    padding: 15px;
    gap: 10px;
}

.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50%;
}

.filter-container h4 {
    font-family: "Geomanist";
    font-size: 28px;
    width: 283px;
    color: var(--gray-lyric);
    text-align: center;
    margin-bottom: 3%;
}

input {
    width: 283px;
    height: 29px;
    border: 1px solid var(--gray-lyric);
    border-radius: 5px;
}

::placeholder {
    font-family: "Bariol Regular";
    font-size: 16px;
    color: var(--gray-lyric);
    padding-left: 8px;
}

.state {
    margin-bottom: 5%;
}

.state,
.city {
    display: flex;
    flex-direction: column;
    color: #00B1BB;
}

.state p,
.city p{
    margin-bottom: 10px;
}

.state img,
.city img{
    position: absolute;
    right: 55px;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
}

  /* Estilo de las cards */
  
  .cards-container {
    margin-top: -60px;
    display: grid;
    place-items: center;
    gap: 2rem;
    padding: 1rem;
    grid-auto-rows: 23rem;
    margin-bottom: 25px;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
    position: relative;
    z-index: 1;
  }
  
  .card-template {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 17px 14px;
    width: 100%;
    height: 100%;
    background: #ffffff;
    box-shadow: 5px 7px 30px rgba(159, 102, 219, 0.18);
    border-radius: 7px;
  }
  
  .card-template.card-saving2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 17px 14px;
    width: 100%;
    height: 100%;
    background: #ffffff;
    box-shadow: 5px 7px 30px rgba(159, 102, 219, 0.18);
    border-radius: 7px;
  }
  
  .card-template img {
    margin-bottom: 12px;
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .card-template h5 {
    font-family: "Geomanist";
    color: var(--gray-lyric);
    font-size: 16px;
    margin-bottom: 12px;
  }
  
  .card-template p {
    font-family: "Geomanist Book";
    color: var(--gray-lyric);
    font-size: 13px;
    margin-bottom: 12px;
    line-height: 19.5px;
  }
  
  .button-primary {
    font-family: "Bariol Regular";
    padding: 0px;
    width: 102.66px;
    height: 29px;
    color: var(--white);
    border: none;
    background-color: var(--Acuamarina);
    border-radius: 4.06px;
    cursor: pointer;
  }

  .button-primary:hover {
    color: var(--Acuamarina);
    border: 2px solid var(--Acuamarina);
    background-color:var(--white);
    border-radius: 4.06px;
    cursor: pointer;
  }
  
  .simulation-button {
    font-family: "Bariol Regular";
    width: 102.66px;
    height: 29px;
    border: 1.16px solid #9f66db;
    border-radius: 4.06px;
    background: #ffffff;
    color: var(--lila-lyrics);
    margin-left: 14.34px;
  }
  
  .card-saving2 button {
    font-family: "Bariol Regular";
    padding: 0px;
    width: 102.66px;
    height: 29px;
    color: var(--white);
    border: none;
    background-color: var(--Acuamarina);
    border-radius: 4.06px;
    cursor: pointer;
  }
  
  .show {
    display: block;
  }

  .filter-desktop {
    display: none;
  }

  /* ///////////////////////////////// 📱 TABLET //////////////////////// */

  @media (min-width: 600px) {  

    aside {
      top: 115px;

  }

}
  
  @media (min-width: 850px) { 
    aside {
      top: 125px;
  }
  }
  
  
  /* ///////////////////////////////// 🖥️ Desktop //////////////////////// */
  
  @media (min-width: 1024px) {

    aside {
      display: none;
    }
    .cover-page {
      height: 150px;
    }

    .cards-container {
      margin-top: 10px;
    }
    
     .information {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: white;
  }
  
  .information h1 {
    position: relative;
    z-index: 2;
    font-size: 32px;
    font-family: "Geomanist";
    line-height: 34px;
    text-align: center;
    margin-bottom: 6px;
    padding: 62px 60px 0px 20px;
    color: var(--gray-lyric);
  }
  
  .information p {
    font-family: "Bariol Regular";
    font-size: 13px;
    text-align: center;
    padding: 0px 65px 0px 65px;
    line-height: 16.72px;
    color: var(--gray-lyric);
  }

  .objects {
    top: 0;
  }

  .filter {
    display: none;
  }

  .filter-desktop {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-top: 1%;
    gap: 5%;
  }

  .state-desktop, 
  .city-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .state-desktop p, 
  .city-desktop p{
    font-family: 'Bariol Bold';
    font-size: 20px;
    color: var(--gray-lyric);
  }
}
