.boton-div {
	position: fixed;
	bottom: 90px;
	right: 40px;
}

/* Modo estandar */

.boton-asesoria {
	width: 60px;
	height: 60px;
	background-color: #FFFFFF;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 85px;
	top: -65px;
}

.boton-chat {
	width: 60px;
	height: 60px;
	background-color: #FFFFFF;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: -5px;
	top: -80px;
}

.boton-pqrs {
	width: 60px;
	height: 60px;
	background-color: #FFFFFF;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 100px;
	top: 100px;
}

.boton-tutoriales {
	width: 60px;
	height: 60px;
	background-color: #FFFFFF;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 125px;
	top: 12px;
}

.boton-ayuda {
	width: 100px;
	height: 100px;
	padding: 10px;
	background-color: #FF8833 ;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.botones-all {
	display: none;
}
/*
	background-color: #FF8833;
*/
