@font-face {
  font-family: "Geomanist Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Geomanist Bold"),
    url("/fonts/Geomanist-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Geomanist Book";
  src: url("../font/Geomanist-Book.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bariol Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Regular"),
    url("/fonts/bariol_regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Regular Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Regular Italic"),
    url("fonts/bariol_regular_italic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Thin Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Thin Italic"),
    url("fonts/bariol_thin_italic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Thin";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Thin"),
    url("fonts/bariol_thin-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Light";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Light"),
    url("fonts/bariol_light-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Light Italic"),
    url("fonts/bariol_light_italic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Bold"),
    url("/fonts/bariol_bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Bold Italic"),
    url("fonts/bariol_bold_italic-webfont.woff") format("woff");
}

/* Estilos generales para la página */
body {
  margin: 0;
  width: auto;
  font-family: "Bariol Regular", sans-serif;
}

/* Estilos para el navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 177, 187, 0.1);
  padding: 10px;
  position: relative;
  z-index: 5;
}
.navbar img {
  padding: 2%;
}
/* Estilos para el menú hamburguesa */

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.material-icons {
  color: #00a2af;
}
/* Estilos para el ícono del menú hamburguesa */
.hamburger-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}
.submenu {
  display: none;
}
.show {
  display: block;
}
/* Estilos para el menú hamburguesa desplegado */
.hamburger-menu-container {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  z-index: 10;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0px 10px 10px rgba(0, 177, 187, 0.1);
}
/* Estilos para botones naranjas del menú hamburguesa */
.menu-button {
  background-color: #ff8833;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px 20px;
  border-radius: 5px;
  margin: 5px 0;
}

.menu-button img {
  margin-right: 5px;
  vertical-align: middle;
  width: 24px;
  height: 24px;
}
.li-menu-button {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
/* Estilos para titulos naranjas menú hamburguesa */
.dropdown-title {
  position: relative;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-left: 10px;
}
.dropdown-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 10px;
  border-bottom: 1px solid #ffe1cc;
}
.arrow-down {
  font-size: 0.8em;
  margin-right: 10px;
}

.dropdown-title:hover {
  cursor: pointer;
}

.hamburger-menu-container ul li .dropdown-title {
  color: #ff8833;
}
.hamburger-menu-container ul {
  list-style-type: none;
  padding: 0;
}

.hamburger-menu-container ul li a {
  display: block;
  color: #676767;
  padding: 8px 16px;
  text-decoration: none;
}
.hamburger-menu-container a.menu-button {
  color: white;
}
.hamburger-menu-container ul li .dropdown {
  display: none;
  position: relative;
}

.hamburger-menu-container ul li .dropdown ul {
  position: absolute;
  top: 0;
  left: 100%;
  width: 250px;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
}

.hamburger-menu-container ul li .dropdown ul li a {
  padding: 5px 16px;
}

.hamburger-menu-container ul li .dropdown ul li a:hover {
  background-color: #666;
}

.hamburger-menu-container ul li a:hover,
.hamburger-menu-container ul li:hover > .dropdown {
  cursor: pointer;
}
/*/ //////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Estilos para el botón "Atrás" */
.back-button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  color: #676767;
  font-family: "Bariol Regular", sans-serif;
}

/* Estilos para el hero y la imagen */
.hero {
  position: relative;
  width: auto;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 2%;
}

.hero img {
  width: 100%;
  position: relative;
}

.hero-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: xx-large;
}

/* logo de calculadora con su media query */
.hero-icon img {
  width: 100%;
}
@media screen and (max-width: 1020px) {
  .hero-icon img {
    width: 70%;
    padding-top: 10%;
  }
}
@media screen and (max-width: 834px) {
  .hero-icon img {
    width: 70%;
  }
}
.hero-icon h1 {
  font-size: 60px;
  color: white;
  padding-top: 10%;
  padding-bottom: 10%;
  margin: 0%;
  font-family: "Geomanist Bold";
}

@media screen and (max-width: 768px) {
  .hero-icon h1 {
    font-size: 35px;
    padding-top: 10%;
    padding-bottom: 10%;
  }
}

@media screen and (max-width: 480px) {
  .hero-icon h1 {
    font-size: 25px;
    padding-top: 10%;
    padding-bottom: 10%;
  }
}

/* Estilos para la pregunta e inputs */
.question {
  font-size: 18px;
  margin-bottom: 10px;
  color: #ff8833;
}

.options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 20px;
}

.option {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  border-radius: 10%;
}

/* Estilos para el monto */
.amount-label {
  font-size: 18px;
  margin-bottom: 10px;
  color: #ff8833;
}

.amount-input {
  width: 92.5%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.input-section {
  display: block;
  padding-left: 2%;
  padding-right: 2%;
}
.input-section .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
/* Estilos para el botón de simular */
.simulate-button {
  background-color: #ff8833;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  font-family: "Bariol Regular";
}
@media screen and (max-width: 480px) {
  .simulate-button {
    padding-left: 150px;
    padding-right: 150px;
  }
}
/* Estilos para la sección de resultados */
.results-section {
  display: none;
  padding: 2%;
}

.results-title {
  font-size: 20px;
  margin-bottom: 20px;
  color: #ff8833;
  font-family: "Geomanist Bold";
}

.results-data .container {
  color: white;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  justify-content: center;
  border-radius: 8px;
}
.results-data .container .column:nth-child(1) {
  padding-right: 10px;
}
.results-data .container .column:nth-child(2) {
  background-color: #9f66db;
  border-radius: 5px;
  padding: 10px;
}

.results-data p {
  font-family: "Bariol Bold";
  margin: 0;
}

.results-data strong {
  font-family: "Geomanist Bold";
  font-size: xx-large;
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  backface-visibility: hidden;
  font-family: "Bariol Bold";
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  color: #acacac;
}

.text-grey {
  color: #676767;
}
.text-cian {
  color: #00b1bb;
}
.results-section .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Estilos para el botón de Solicitar Ahorro */
.request-saving-button {
  background-color: #ff8833;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Bariol Regular";
}
@media screen and (max-width: 480px) {
  .request-saving-button {
    padding-left: 120px;
    padding-right: 120px;
  }
}
.back-button {
  color: #676767;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Bariol Regular";
}
