.siguiente-button {
	margin-bottom: 20px;
	background-color: #1acbd4;
}

.input-container label{
	color: gray;
}

.hero2 img {
	display: block;
}

.nav-cover {
	width: 425px;
}

#page-switcher a{
	color: white;
}
