@font-face {
  font-family: "Geomanist Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Geomanist Bold"),
    url("/fonts/Geomanist-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Geomanist Book";
  src: url("../font/Geomanist-Book.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bariol Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Regular"),
    url("/fonts/bariol_regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Regular Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Regular Italic"),
    url("fonts/bariol_regular_italic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Thin Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Thin Italic"),
    url("fonts/bariol_thin_italic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Thin";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Thin"),
    url("fonts/bariol_thin-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Light";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Light"),
    url("fonts/bariol_light-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Light Italic"),
    url("fonts/bariol_light_italic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Bold"),
    url("/fonts/bariol_bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Bold Italic"),
    url("fonts/bariol_bold_italic-webfont.woff") format("woff");
}

/* Estilos generales para la página */
body {
  margin: 0;
  width: 100%;
  font-family: "Bariol Regular", sans-serif;
}

/* Estilos para el navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 177, 187, 0.1);
  padding: 10px;
  position: relative;
  z-index: 5;
}

.navbar img {
  padding: 2%;
}

/* Estilos para el menú hamburguesa */

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.material-icons {
  color: #00a2af;
}

/* Estilos para el ícono del menú hamburguesa */
.hamburger-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.submenu {
  display: none;
}

.show {
  display: block;
}

/* Estilos para el menú hamburguesa desplegado */
.hamburger-menu-container {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  z-index: 10;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0px 10px 10px rgba(0, 177, 187, 0.1);
}

/* Estilos para botones naranjas del menú hamburguesa */
.menu-button {
  background-color: #ff8833;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px 20px;
  border-radius: 5px;
  margin: 5px 0;
}

.menu-button img {
  margin-right: 5px;
  vertical-align: middle;
  width: 24px;
  height: 24px;
}

.li-menu-button {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

/* Estilos para titulos naranjas menú hamburguesa */
.dropdown-title {
  position: relative;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-left: 10px;
}

.dropdown-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 10px;
  border-bottom: 1px solid #ffe1cc;
}

.arrow-down {
  font-size: 0.8em;
  margin-right: 10px;
}

.dropdown-title:hover {
  cursor: pointer;
}

.hamburger-menu-container ul li .dropdown-title {
  color: #ff8833;
}

.hamburger-menu-container ul {
  list-style-type: none;
  padding: 0;
}

.hamburger-menu-container ul li a {
  display: block;
  color: #676767;
  padding: 8px 16px;
  text-decoration: none;
}

.hamburger-menu-container a.menu-button {
  color: white;
}

.hamburger-menu-container ul li .dropdown {
  display: none;
  position: relative;
}

.hamburger-menu-container ul li .dropdown ul {
  position: absolute;
  top: 0;
  left: 100%;
  width: 250px;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
}

.hamburger-menu-container ul li .dropdown ul li a {
  padding: 5px 16px;
}

.hamburger-menu-container ul li .dropdown ul li a:hover {
  background-color: #666;
}

.hamburger-menu-container ul li a:hover,
.hamburger-menu-container ul li:hover > .dropdown {
  cursor: pointer;
}

/*/ //////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  width: 100%;
  height: 100%;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

h2 {
  font-family: "Geomanist", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  /* Acuamarina/500 */

  color: #00b1bb;
}

p {
  font-family: "Bariol", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  display: flex;
  align-items: center;
  text-align: right;

  color: #cdcdcd;
}

.images {
  width: 100%;
  left: 0px;
}

#login-component{
  display: flex;
  align-items: center;
}


#login-component-card {
  background-color: white;

  position: absolute;
  right: 0;
  left: 0;
  top: 200px;
  margin: auto;

  align-items: center;
  width: 80%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 150px;
  padding-bottom: 30px;
  box-shadow: 5px 7px 30px rgba(159, 102, 219, 0.48);

  gap: 10px;
}

#login-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 40px;
}

#login-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

embed {
  width: 50px;
}

#login-inputs {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 12px;
  font-family: "Bariol", sans-serif;
}

.inputs {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border: 2px solid #cdcdcd;
  border-radius: 8px;
  padding-left: 20px;
  width: 100%;
  height: 40px;
  left: 34px;
  top: 391px;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 34px;
  display: flex;
  align-items: center;
  font-family: "Bariol", sans-serif;
}

.inputs::placeholder {
  color: #cdcdcd;
}

.inputs:focus {
  border: 4px solid #00b1bb;
}

#forget-password {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

#login-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background: #00b1bb;
  box-shadow: 5px 7px 25px rgba(0, 177, 187, 0.1);
  border-radius: 8px;
  border: 0px;
  width: 80%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Bariol", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  color: #ffffff;
}

a {
  text-decoration: none;
}

.text-sign-up {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  gap: 5px;
  color: #676767;
}

#register-text {
  color: #676767;
}

#to-sign-up {
  padding-bottom: 20px;
}

#form-component {
  display: flex;
  justify-content: center;
}



@media (max-width: 700px) {
  #sign-up-form {
    display: flex;
    flex-direction: column;
    width: 85%;
    gap: 20px;
    padding-top: 20px;
  }
}

@media (min-width: 701px) {
  #sign-up-form {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 20px;
    padding-top: 20px;
  }
}

label {
  font-family: "Bariol", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 20px */

  /* gris/2 */

  color: #676767;
}

#to-login {
  padding-top: 10px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:visited {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
}

a:active {
  color: #ffffff;
}
