@font-face {
    font-family: "Geomanist";
    src: url("../font/Geomanist-Bold.ttf");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Geomanist Book";
    src: url("../font/Geomanist-Book.ttf");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Bariol Regular";
    font-style: normal;
    font-weight: normal;
    src: url("../font/bariol_regular-webfont.ttf") format("woff");
  }
  
  :root {
    --white: white;
    --lila-lyrics: #9f66db;
    --lila-line: #dfccf3;
    --gray-lyric: #676767;
    --Acuamarina : #00B1BB;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bariol Regular", sans-serif;
  }
  a {
    text-decoration: none;
  }
  
  /* Estilos de la portada de la página */
  
  .cover-page {
    position: relative;
    background: url(../img/portada-prensa.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 535px;
    ;
  }
  
  .information {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
  }
  
  .information h1 {
    font-size: 32px;
    font-family: "Geomanist";
    line-height: 34px;
    text-align: center;
    margin-bottom: 6px;
    padding: 62px 60px 0px 60px;
    color: var(--gray-lyric);
  }
  
  .information p {
    font-family: "Bariol Regular";
    font-size: 13px;
    text-align: center;
    padding: 0px 65px 0px 65px;
    line-height: 16.72px;
    color: var(--gray-lyric);
    max-width: 396px;
  }
  
  
  /* Estilos de la navegación secundaria */

.nav-cover {
    position: relative;
    top: 68.5%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: var(--white);
    width: 366px;
    height: 37px; 
    box-shadow: 5px 7px 30px rgba(159, 102, 219, 0.18);
    border-radius: 7px
}

.cover-buttons {
    transform: translate(0%, 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#marker {
    position: absolute;
    left: 0;
    height: 4px;
    width: 91.5px;
    background: var(--lila-lyrics);
    bottom: -2px;
    transition: 0.5s;
    border-radius: 4px;
    z-index: 1;
  }

  #page-switcher li {
    color: var(--gray-lyric);
    cursor: pointer;
  }
  
  #page-switcher li.select {
    color: var(--lila-lyrics);
  }
  
  .nav-cover ul {
    position: relative;
      list-style: none;
      display: flex;
      transform: translate(0%, -100%);
      flex-direction: row;
      align-items: center;
      justify-content: center;
      z-index: 2;
  }
  
  .nav-cover li {
    position: relative;
  }

.characters {
    width: 91.5px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--lila-line);
    cursor: pointer;
}

.benefits {
    width: 91.5px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--lila-line);
    cursor: pointer;
}

.tramits {
    width: 91.5px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--lila-line);
    cursor: pointer;
}

.devolutions {
    width: 91.5px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.nav-cover a {
    text-decoration: none;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Bariol Regular';
    pointer-events: none;
}

.nav-cover p {
    text-align: center;
}
  
  /* Estilo de las cards */
  
  .cards-container {
    display: grid;
    place-items: center;
    margin-top: 5%;
    gap: 2rem;
    padding: 1rem;
    grid-auto-rows: 26rem;
    margin-bottom: 25px;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
  }
  
  .card-template {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 17px 14px;
    width: 100%;
    height: 93%;
    background: #ffffff;
    box-shadow: 5px 7px 30px rgba(159, 102, 219, 0.18);
    border-radius: 7px;
  }
  
  .card-template img {
    margin-bottom: 12px;
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .card-template h5 {
    font-family: "Geomanist";
    color: var(--gray-lyric);
    font-size: 16px;
    margin-bottom:20px;
  }
  
  .card-template p {
    font-family: "Geomanist Book";
    color: var(--gray-lyric);
    font-size: 13px;
    margin-bottom: 20px;
    line-height: 19.5px;
  }
  
  .card-template2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 17px 14px;
    width: 100%;
    height: 100%;
    background: #ffffff;
    box-shadow: 5px 7px 30px rgba(159, 102, 219, 0.18);
    border-radius: 7px;
  }
  
  .card-template2 img {
    margin-bottom: 12px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .card-template2 h5 {
    font-family: "Geomanist";
    color: var(--gray-lyric);
    font-size: 16px;
    margin-bottom:10px;
  }
  
  .card-template2 p {
    font-family: "Bariol Regular";
    color: var(--gray-lyric);
    font-size: 13px;
    width: 300px;
    margin-bottom: 20px;
    line-height: 19.5px;
  }
  
  .button-primary {
    font-family: "Bariol Regular";
    padding: 0px;
    width: 102.66px;
    height: 29px;
    color: var(--white);
    border: none;
    background-color: var(--Acuamarina);
    border-radius: 4.06px;
    cursor: pointer;
  }
  
  .simulation-button {
    font-family: "Bariol Regular";
    width: 102.66px;
    height: 29px;
    border: 1.16px solid #9f66db;
    border-radius: 4.06px;
    background: #ffffff;
    color: var(--lila-lyrics);
    margin-left: 14.34px;
  }
  
  .show {
    display: block;
  }
  

#page2,
#page3,
#page4 {
    display: none;
}


   /* ///////////////////////////////// 📱 TABLET //////////////////////// */

   @media (min-width: 600px) {  

    .cover-page {
      background: url(../img/portada-prensa-tablet.jpg);
      background-repeat: no-repeat;
    }
  
    .nav-cover {
      top: max(67.5%);
    }
  
    .nav-cover {
      width: 558px;
    }

    .characters {
      width: 139px;
    }
    
    .tramits {
      width: 139px;
    }
  
    .benefits {
      width: 139px;
    }

    .benefits p,
    .tramits p {
      line-height: 80%;
    } 
  
    .devolutions {
      width: 139px;
    }
  
    #marker {
      width: 139px;
    }
  
  
    #desktop {
      display: none;
    }
  
    .nav-cover a {
      font-size: 18px;
    }
  
    .information h1 {
      font-size: 38px;
  
    }
    
    .information p {
      font-size: 16px;
  }
  
  }
  
  @media (min-width: 850px) { 
    .nav-cover {
      top: 43.5%;
    }
  
    .information-container {
      max-width: 850px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    .information {
      width: 39%;
      margin-left: 62%;
      padding-top: 18%;
    }
  
    .information > div{
      display: flex;
      flex-direction: column;
      justify-content: start;
    }
    
    .information h1 {
      font-size: 40px;
      font-family: "Geomanist";
      line-height: 40.54px;
      text-align: left;
      width: 100%;
      margin-bottom: 6px;
      padding: 0;
    }
    
    .information p {
      font-family: "Bariol Regular";
      font-size: 20px;
      text-align: start;
      /* padding: 0px 0px 0px 530px; */
      line-height: 25px;
      width: 100%;
      padding: 0;
    }
  
    #desktop {
      display: none;
    }
  }
  

  /* ///////////////////////////////// 🖥️ Desktop //////////////////////// */
  
  @media (min-width: 1024px) {
  
    /* Estilos del responsive */
  
    .nav-cover {
        position: absolute;
        top: 91%;
        transform: translate(-50%, 50%);
        width: 970px;
        height: 43px;
      }
      
      #marker {
        bottom: 0px;
        width: 315.5px;
      }
    
      .characters {
          width: 242px;
          height: 43px; 
      }
      
      .devolutions {
          width: 242px;
          height: 43px; 
        border-left: 1px solid var(--lila-line);
      }
    
      .benefits {
          width: 242px;
          height: 43px; 
        border-right: 1px solid var(--lila-line);
    }
  
    .tramits {
      width: 242px;
      height: 43px; 
    }
    
      .nav-cover a {
        text-decoration: none;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Bariol Regular";
        pointer-events: none;
      }
    
      .nav-crumbs {
        display: none;
      }
  
    .cover-page {
      position: relative;
      background: url(../img/portada-prensa-desktop.jpg);
      background-repeat: no-repeat;
      width: 100%;
      height: 479px;
    }

    
    .information {
      display: flex;
      /* align-items: flex-end; */
      flex-direction: column;
      color: white;
      width: 38%;
      /* position: relative; */
      /* left: 315px; */
      margin-left: 125%;
      padding-top: 17%;
    }
  
    .information > div{
      display: flex;
      flex-direction: column;
      justify-content: start;
    }
    
    .information h1 {
      font-size: 32px;
      font-family: "Geomanist";
      line-height: 40.54px;
      text-align: left;
      width: 100%;
      margin-bottom: 6px;
      /* margin-left: -149px; */
      /* padding: 115px 0px 0px 500px; */
      padding: 0;
    }
    
    .information p {
      font-family: "Bariol Regular";
      font-size: 20px;
      text-align: start;
      /* padding: 0px 0px 0px 530px; */
      line-height: 20.72px;
      width: 100%;
      padding: 0;
    }

    .cards-container {
      max-width: 1280px;
      margin: 65px auto;
      margin-bottom: 25px;
      padding: 2rem;
      
    }
  }

  /* ///////////////////////////////// 🖥️ Desktop Large //////////////////////// */

 @media (min-width: 1440px) {
  .information-container {
    max-width: 1440px;
  }

  .nav-cover {
    width: 1262px;
    height: 43px;
  }

  #marker {
    bottom: 0px;
    width: 315.5px;
  }

  .characters {
    width: 315.5px;
    height: 43px;
  }
  
  .tramits {
    width: 315.5px;
    height: 43px;
    border-left: 1px solid var(--lila-line);
  }

  .benefits {
    width: 315.5px;
    height: 43px; 
    border-right: 1px solid var(--lila-line);
}

  .devolutions {
    width: 315.5px;
    height: 43px; 
}

  .nav-cover a {
    text-decoration: none;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Bariol Regular";
    pointer-events: none;
  }

  .cover-page {
    background: url(../img/portada-prensa-desktop.jpg);
  }
  
  .information {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 50%;
    padding-top: 11%;
  }

  .information > div{
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  
  .information h1 {
    font-size: 32px;
    font-family: "Geomanist";
    line-height: 40.54px;
    text-align: left;
    width: 100%;
    margin-bottom: 6px;
    padding: 0;
  }
  
  .information p {
    font-family: "Bariol Regular";
    font-size: 20px;
    text-align: start;
    line-height: 23.72px;
    width: 100%;
    padding: 0;
  }

  .simulator {
    margin-left: 36%;
    padding-top: 6%;
    margin-top: -69px;
  }
  
  .simulator-button {
    font-size: 13.42px;
    width: 186.29px;
    height: 45.86px;
    border-radius: 4.27119px;
    font-size: 20.17px;
  }

  .text1 img,
  .text2 img,
  .text3 img {
    max-width: 1440px;
  }

  .text3-color {
    max-width: 1440px;
  }

  .text3-color img{
    max-width: 1440px;
  }

  .info-drop1{
    width: 1262px;
    max-width: 1440px;
    height: 160px;
}

.info-drop2{
  width: 1262px;
  max-width: 1440px;
  height: 385px;
}

.info-drop3{
  width: 1262px;
  max-width: 1440px;
  height: 165px;
}

.info-drop4{
  width: 1262px;
  max-width: 1440px;
  height: 312px;
}

.info-drop5{
  width: 1262px;
  max-width: 1440px;
  height: 377px;
}

.info-drop6{
  width: 1262px;
  max-width: 1440px;
  height: 377px;
}


.drop1,
.drop2, 
.drop3,
.drop4,
.drop5,
.drop6 {
    width: 1260px;
    max-width: 1440PX;
    width: 1262px;
    height: 94px;
    cursor: pointer;
}

  #desktop {
    display: block;
  }

  #mobile {
    display: none;
  }
}

