@font-face {
    font-family: 'Geomanist';
    src: url('../font/Geomanist-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist Book';
    src: url('../font/Geomanist-Book.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../font/bariol_regular-webfont.ttf') format('woff');
    }

:root {
    --white: white;
    --lila-lyrics: #9F66DB;
    --lila-line: #DFCCF3;
    --gray-lyric: #676767;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Bariol Regular", sans-serif; 
}

/* Estilos del menú de navegación */

/* Estilos para el navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 10px 10px rgba(0, 177, 187, 0.1);
    padding: 10px;
    position: relative;
    z-index: 5;
  }
  .navbar img {
    padding: 2%;
  }
  
  /* Estilos para el menú hamburguesa */
  
  /*///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
  .material-icons {
    color: #00a2af;
  }
  /* Estilos para el ícono del menú hamburguesa */
  .hamburger-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
  }
  .submenu {
    display: none;
  }
  .watch {
    display: block;
  }
  /* Estilos para el menú hamburguesa desplegado */
  .hamburger-menu-container {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #ffffff;
    z-index: 10;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0px 10px 10px rgba(0, 177, 187, 0.1);
  }
  /* Estilos para botones naranjas del menú hamburguesa */
  .menu-button {
    background-color: #ff8833;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8px 20px;
    border-radius: 5px;
    margin: 5px 0;
  }
  
  .menu-button img {
    margin-right: 5px;
    vertical-align: middle;
    width: 24px;
    height: 24px;
  }
  .li-menu-button {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  /* Estilos para titulos naranjas menú hamburguesa */
  .dropdown-title {
    position: relative;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-left: 10px;
  }
  .dropdown-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 10px;
    border-bottom: 1px solid #ffe1cc;
  }
  .arrow-down {
    font-size: 0.8em;
    margin-right: 10px;
  }
  
  .dropdown-title:hover {
    cursor: pointer;
  }
  
  .hamburger-menu-container ul li .dropdown-title {
    color: #ff8833;
  }
  .hamburger-menu-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .hamburger-menu-container ul li a {
    display: block;
    color: #676767;
    padding: 8px 16px;
    text-decoration: none;
  }
  .hamburger-menu-container a.menu-button {
    color: white;
  }
  .hamburger-menu-container ul li .dropdown {
    display: none;
    position: relative;
  }
  
  .hamburger-menu-container ul li .dropdown ul {
    position: absolute;
    top: 0;
    left: 100%;
    width: 250px;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
  }
  
  .hamburger-menu-container ul li .dropdown ul li a {
    padding: 5px 16px;
  }
  
  .hamburger-menu-container ul li .dropdown ul li a:hover {
    background-color: #666;
  }
  
  .hamburger-menu-container ul li a:hover,
  .hamburger-menu-container ul li:hover > .dropdown {
    cursor: pointer;
  }

/* Estilo de miga de pan */

.nav-crumbs { 
    display: flex;
    align-items: center;
    padding-top: 9px;
    padding-left: 10px;
}

.nav-crumbs p {
    font-family: 'Bariol Regular';
    font-size: 10px;
    color: rgba(103, 103, 103, 0.36);
    width: 112px;
}

/* Estilos de la portada de la página */

.cover-page {
    position: relative;
    background: url(../img/portada-reclamar.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 336px;
}

.information {
   display: flex;
   align-items: center;
   flex-direction: column;
   color: var(--gray-lyric);
}

.information h1 {
    font-size: 31px;
    font-family: 'Geomanist';
    line-height: 34px;
    text-align: center;
    margin-bottom: 6px;
    padding: 30px 65px 0px 65px;
    line-height: 31px;
}

.information p {
    font-family: 'Bariol Regular';
    font-size: 13px;
    text-align: center;
    padding: 0px 40px 0px 40px;
    line-height: 150%;
}

/* Estilos de la navegación secundaria */

.nav-cover {
    position: relative;
    top: 53.5%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: var(--white);
    width: 366px;
    height: 37px; 
    box-shadow: 5px 7px 30px rgba(159, 102, 219, 0.18);
    border-radius: 7px
}

.cover-buttons {
    transform: translate(0%, 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#marker {
    position: absolute;
    left: 0;
    height: 4px;
    width: 0;
    background: var(--lila-lyrics);
    bottom: -2px;
    transition: 0.5s;
    border-radius: 4px;
    z-index: 1;
  }
  
  .nav-cover ul {
    position: relative;
      list-style: none;
      display: flex;
      transform: translate(0%, -100%);
      flex-direction: row;
      align-items: center;
      justify-content: center;
      z-index: 2;
  }
  
  .nav-cover li {
    position: relative;
  }

.characters {
    width: 91.5px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--lila-line);
    cursor: pointer;
}

.benefits {
    width: 91.5px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--lila-line);
    cursor: pointer;
}

.tramits {
    width: 91.5px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--lila-line);
    cursor: pointer;
}

.devolutions {
    width: 91.5px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#lyric {
    width: 140px;
}

.nav-cover a {
    text-decoration: none;
    font-size: 13px;
    color: var(--lila-lyrics);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Bariol Regular';
    pointer-events: none;
}

.nav-cover p {
    text-align: center;
}

/* Estilos de la lista */

.subtitle,
.subtitle2 {
    font-family: 'Geomanist';
    width: 350px;
    color: var(--gray-lyric);
    margin-top: 40px;
    margin-bottom: 8px;
    padding: 0 20px;
}

.subtitle2 {
    font-family: 'Geomanist';
    width: 350px;
    color: var(--gray-lyric);
    margin-top: 30px;
    margin-bottom: 8px;
    padding: 0 20px;
}

.list-container {
    display: flex;
    margin-top: 45px;
    padding: 0 20px;
    margin-bottom: 33px;
}

.list-container3 {
    display: flex;
    padding: 0 20px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.list-container4 {
    display: flex;
    padding: 0 20px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.list-container5 {
    display: flex;
    padding: 0 20px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.info-list ,
.info-list2,
.info-list3,
.info-list4 {
    margin-left: 7px;
}

.info-list li,
.info-list2 li, 
.info-list3 li,
.info-list4 li {
    font-family: 'Bariol Regular';
    list-style: none;
    width: 328px;
    height: 100%;
    font-size: 13px;
    color: var(--gray-lyric);
    line-height: 150%;
    cursor: pointer;
    line-height: 19.5px;
}

.info-list .list-characters li:nth-child(1) {
    margin-bottom: 27px;
}

.info-list .list-characters li:nth-child(2) {
    margin-bottom: 31px;
}

.info-list .list-characters li:nth-child(3) {
    margin-bottom: 28px;
}

.info-list .list-characters li:nth-child(4) {
    margin-bottom: 28px;
}

.info-list .list-characters li:nth-child(5) {
    margin-bottom: 32px;
}

/* Estilos para beneficios de la lista */

.info-list2 .list-benefits li:nth-child(1) {
    margin-bottom: 26px;
}

.info-list2 .list-benefits li:nth-child(2) {
    margin-bottom: 32px;
}

.info-list2 .list-benefits li:nth-child(3) {
    margin-bottom: 28px;
}

.info-list2 .list-benefits li:nth-child(4) {
    margin-bottom: 30px;
}

.info-list2 .list-benefits li:nth-child(5) {
    margin-bottom: 30px;
}


/* Estilos para trámites de la lista */

.info-list3 .list-tramits li:nth-child(1) {
    margin-bottom: 13px;
}

.info-list3 .list-tramits li:nth-child(2) {
    margin-bottom: 13px;
}

.info-list3 .list-tramits li:nth-child(3) {
    margin-bottom: 13px;
}

.info-list3 .list-tramits li:nth-child(4) {
    margin-bottom: 13px;
}

.info-list3 .list-tramits li:nth-child(5) {
    margin-bottom: 13px;
}



.info-list3 .list-tramits2 li:nth-child(1) {
    margin-bottom: 14px;
}

.info-list3 .list-tramits2 li:nth-child(2) {
    margin-bottom: 12px;
}

.info-list3 .list-tramits2 li:nth-child(3) {
    margin-bottom: 12px;
}

.info-list3 .list-tramits2 li:nth-child(4) {
    margin-bottom: 13px;
}

.info-list3 .list-tramits2 li:nth-child(5) {
    margin-bottom: 13px;
}

.list-tramits2 li{
    padding-right: 30px;
}

.info-list3 .list-tramits3 li:nth-child(1) {
    margin-bottom: 13px;
}

.info-list3 .list-tramits3 li:nth-child(2) {
    margin-bottom: 14px;
}

.info-list3 .list-tramits3 li:nth-child(3) {
    margin-bottom: 14px;
}

.info-list3 .list-tramits3 li:nth-child(4) {
    margin-bottom: 11px;
}

.list-tramits3 li{
    padding-right: 23px;
}

/* Estilos para devoluciones de la lista */

.info-list4 .list-devolutions li:nth-child(1) {
    margin-bottom: 28px;
}

.last-info4 {
    font-family: 'Bariol Regular';
    font-size: 13px;
    color: var(--gray-lyric);
    padding: 0 20px;
    padding-top: 40px;
}   

#info1 {
    font-family: 'Geomanist';
    font-size: 13px;
    color: var(--gray-lyric);
    margin-bottom: 7px;
    line-height: 150%;
}

#info2 {
    line-height: 150%;
    margin-bottom: 40px;
}

.info-tramits {
    font-family: 'Bariol Regular';
    font-size: 13px;
    color: var(--gray-lyric);
    padding: 0 20px;
    padding-top: 30px;
    line-height: 19.5px;
}

.info-tramits2 {
    font-family: 'Bariol Regular';
    font-size: 13px;
    color: var(--gray-lyric);
    padding: 0 20px;
    padding-top: 10px;
}

.page3-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-drop1{
    bottom: 40px;
    position: relative;
    width: 366px;
    height: 465px;
    background: #FFFFFF;
    box-shadow: 5px 7px 30px rgba(159, 102, 219, 0.18);
    border-radius: 7px;
    z-index: 1;
}

.info-drop2{
    position: relative;
    bottom: 40px;
    width: 366px;
    height: 750px;
    background: #FFFFFF;
    box-shadow: 5px 7px 30px rgba(159, 102, 219, 0.18);
    border-radius: 7px;
}

.page1-drop {
    
    position: relative;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    margin-bottom: 28px;
}

.page2-drop {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    margin-bottom: 28px;
}

.drop1,
.drop2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px; 
    width: 366px;
    height: 65px;
    background-color: var(--lila-lyrics);
    box-shadow: 5px 7px 30px rgba(159, 102, 219, 0.18);
    border-radius: 7px;
}

.drop1 p,
.drop2 p{
    font-family: 'Bariol Regular';
    font-size: 13px;
    color: var(--white);
    padding-right: 80px;
    line-height: 19.5px;
}

.last-info {
    font-family: 'Bariol Regular';
    font-size: 13px;
    color: var(--gray-lyric);
    padding: 0 20px;
    line-height: 19.5px;
}

.buttonn {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.button-tramits {
    font-family: 'Bariol Regular';
    font-size: 15.83px;
    text-align: center;
    width: 167px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9F66DB;
    border-radius: 5.03716px;
    color: var(--white);
    border: none;
}

/* Estilos de la ultima parte de la lista de caracteristicas*/

.rest-info {
    width: 100%;
    height: 430px;
    background-color: var(--lila-lyrics);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rest-info h5{
    font-family: 'Geomanist';
    font-size: 13px;
    color: var(--white);
    padding: 32px 36px 0px 18px;
    margin-bottom: 20px;
}

.list-rest {
    display: flex;
    padding-left: 18px;
    
}

.list-rest li {
    list-style: none;
    padding-left: 7px;
    padding-right: 22px;
    color: var(--white);
    font-family: 'Bariol Regular';
    font-size: 13px;
}

.list-rest li:nth-child(1){
    margin-bottom: 33px;
}

.list-rest li:nth-child(2){
    margin-bottom: 34px;
}

/* Estilos de la otra informacion de devoluciones  */

.rest-info2 {
    width: 100%;
    height: 190px;
    display: flex;
    flex-direction: column;
    background: var(--lila-lyrics);
    line-height: 19.5px;
}

.rest-info2 h5{
    font-family: 'Geomanist';
    font-size: 13px;
    color: var(--white);
    padding: 22px 20px 15px 20px;
}

.rest-info2 div{
    font-family: 'Bariol Regular';
    display: flex;
    padding: 0 20px;
    padding-left: 30px;
    color: var(--white);
    font-size: 13px;
    gap: 5px; 
}

#st-info {
    margin-bottom: 10px;
}

.first-info {
    margin-bottom: 15px;
}

.rest-info2 p {
    line-height: 150%;
}

/* Estilos de para mayor información */

.more-information {
    width: 100%;
    height: 120px;
    margin-top: 50px;
    background-color: var(--lila-lyrics);
}

.more-information p { 
    font-family: 'Geomanist';
    font-size: 14.72px;
    color: var(--white);
    padding-top: 31px;
    text-align: center;
    padding-bottom: 16px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.buttons button:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 27px;
    background: var(--white);
    border-radius: 3.32887px;
    color: var(--lila-lyrics);
    font-size: 10.46px;
    border: none;
}

.buttons button:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7.60884px 24px;
    width: 180px;
    height: 27px;
    border: 0.951104px solid #FFFFFF;
    border-radius: 3.32887px;
    background-color: var(--lila-lyrics);
    color: white;
    font-size: 10.4621px;
}


#page2,
#page3,
#page4 {
    display: none;
}

#dropdown-menu,
#dropdown-menu2 {
    display: none;
  }
  
  #dropdown-menu.show {
    display: block;
  }

  #dropdown-menu2.view {
    display: block;
  }

  /* Estilos del footer */

#dropdown-footer,
#dropdown-footer2, 
#dropdown-footer3, 
#dropdown-footer4 {
    display: none;
  }
  
  #dropdown-footer.vision,
  #dropdown-footer2.vision,
  #dropdown-footer3.vision,
  #dropdown-footer4.vision {
    display: block;
  }
 
footer {
  width: 100%;
  height: 100%;
  background-color: #EFEFEF;
}  

.footer-container {
  padding: 42px 21px 15px 15px;
  display: flex;
  flex-direction: column;
}

.footer-button {
  font-family: 'Geomanist';
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 11px;
  margin-bottom: 20px;
  border-bottom: 1px solid orange;
  color: #FF8833;
  font-size: 16px;
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 11px;
  margin-bottom: 20px;
  border-bottom: 1px solid #FFC499;
}

.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-list,
.footer-list2 {
  font-family: 'Bariol Regular';
  padding: 0px 21px 0px 0px;
  color: #676767;
  font-size: 14px;
}

.footer-list li,
.footer-list2 li{
  list-style: none;
  margin-bottom: 19px;
}

.footer-list ul li:nth-child(4) {
  margin-bottom: 27px;
}

.footer-list2 ul li:nth-child(5) {
  margin-bottom: 27px;
}

.last-footer {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 21px;
  color: #676767;
  font-size: 10px;
  font-family: 'Bariol Regular';
}

    /* Iphone SE */
 @media screen and (min-width: 375px) {
    .information h1 {
        padding: 45px 55px 0px 35px;
    }
    .information p {
        padding: 0px 30px 0px 30px;
    }
}
      /* Iphone XR */
@media screen and (min-width: 414px) {     
    .information h1 {
        padding: 27px 75px 0px 75px;
    }
    .information p {
        padding: 0px 50px 0px 50px;
    }
}
    /* Samsung Galaxy 8 */
@media (max-width: 360px) {      
    .information h1 {
        padding: 30px 30px 0px 30px;
    }
    .information p {
        padding: 0px 25px 0px 25px;
    }
}

 
  
 

